body {
    font-family: Lato;
}
#header {
    padding: 40px 0;
}
.btn-cta-primary {
    background: #17baef;
    border: 1px solid #17baef;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
}
.btn-cta-secondary {
    background: #fbb040;
    border: 1px solid #fbb040;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
}
.btn-cta-twitter {
    background: #1da1f2;
    border: 1px solid #1da1f2;
    color: #fff !important;
    font-weight: 600;
    text-transform: uppercase;
}

#header .btn-cta-secondary,
.section-header .btn-cta-secondary {
    width: 200px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}


a.btn-cta-twitter {
    color: #fff !important;
}
div.btns a {
    min-width: 200px;
}
section {
    padding: 20px 0;
}
section#separator {
    padding: 0;
    height: 5px;
}
section .section-header {
    margin-bottom: 50px;
}
section .section-header h2 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}
section .section-header h3 {
    font-weight: bold;
    margin-bottom: 20px;
}
section .section-header .btns {
    margin-bottom: 20px;
}
h2 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 50px;
}
.baseline{
    margin: 40px 0;
    font-size: 30px;
    font-weight: bold;
}

.features {
    background-color: #17baef;
}

.bg-blue {
    background-color: #17baef;
}

.bg-blue h3 {
    /*color: #053c4e;*/
    color: #FFFFFF;
    font-size: 28px;
}

.bg-black {
    background-color: #000000;
}

.bg-blue a {
    color: #FFFFFF;
}

.bg-black a {
    color: #fbb040;
}

.bg-black p.content {
    color: #ffffff;
}

.text-left {
    text-align: left !important;
}
.img-circle {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#thehive .img-circle,
#cortex .img-circle {
    background-color: #fbb040;
}

#tryit .img-circle {
    background-color: #17baef;
}

.img-circle i {
    font-size: 38px;
}
pre {
    font-size: 14px;
    border: none;
    padding: 20px;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    word-break: break-word;
    color: #c7254e;
    background-color: #f9f2f4;
    margin: 30px 0;
}

#contact h2{
    color: #fbb040;
}

#license h2,
#thehive h2{
    color: #ffffff;
}

p.content {
    font-size: 20px;
}

#thehive p.content,
#cortex p.content,
#tryit p.content {
    text-align: justify;
}

#tryit h3 {
    margin-bottom: 20px;
}

#contact .btns {
    margin: 40px 0;
}

footer .content {
    font-size: 14px;
    margin: 0;
    padding: 10px;
}

footer .content.credits {
    font-size:12px;
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
      .logo {
          width: 250px;
      }

      pre {
          font-size: 14px;
      }

      p.content {
          font-size: 16px;
      }
}
