<div class="form-group">
    <label>Title</label>
    <input type="text" class="form-control" placeholder="Ex: cases per TLP" ng-model="component.options.title">
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label>Entity</label>
            <select class="form-control" ng-model="component.options.entity"
                ng-options="item as metadata[item].label for item in metadata.entities"></select>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label>Aggregation Field</label>
            <select class="form-control" ng-model="component.options.field"
                ng-options="item.name as item.name for item in skipFields(metadata[component.options.entity].attributes, ['date', 'text']) | orderBy:'name'"></select>
        </div>
    </div>
</div>
