<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label>Sort by</label>
            <select class="form-control" ng-model="component.options.sort"
                ng-options="item.name as item.label for item in sortOptions | orderBy:'name'"></select>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label>Limit</label>
            <input type="number" class="form-control" ng-model="component.options.limit">
        </div>
    </div>
</div>
