<div class="case-custom-fields">

    <div ng-if="!dialog.orderedFields || dialog.orderedFields.length === 0">
        <em>No aditional information have been specified</em>
    </div>

    <div class="row">
        <div ng-repeat="k in dialog.orderedFields track by $index" ng-init="fieldDef = dialog.customFieldsCache.getCache(k);">
            <div class="clearfix" ng-if="$index % 2 == 0"></div>
            <div class="col-xs-6">
                <custom-field-input
                    editable="dialog.canEdit"
                    field="fieldDef"
                    on-update="dialog.updateField(fieldName, value)"
                    value="dialog.eventCustomField[fieldDef.reference][fieldDef.type]"></custom-field-input>
            </div>
        </div>
    </div>
</div>
