<div class="panel panel-danger" ng-if="!success">
    <div class="panel-heading">
        <strong>{{artifact.data | fang}}</strong>
    </div>
    <div class="panel-body">
        {{content.errorMessage}}
    </div>
</div>
<div class="panel panel-info" ng-if="success">
	<div class="panel-heading">
		UrlScan.io Report
	</div>
	<div class="panel-body">

		<dl class="dl-horizontal" ng-if="content.errortext">
			<dt><i class="fa fa-warning"></i> ERROR: </dt>
			<dd class="wrap">{{content.errortext}}&nbsp;</dd>
		</dl>

		<dl class="dl-horizontal">
			<dt>Results Found: </dt>
			<dd class="wrap">{{content.indicator.total}}</dd>
		</dl>

		<dl class="dl-horizontal" ng-if="content.indicator.total > 0">
        <div ng-repeat="result in ::content.indicator.results | limitTo:5">
            <dt>Task ID: <a ng-href="https://urlscan.io/result/{{::result._id}}/" target="_blank">{{::result._id}}</a></dt>
            <dd class="wrap">
            <strong>Visibility: </strong>{{::result.task.visibility}}<br/>
            <strong>Method: </strong>{{::result.task.method}} @ {{::result.task.time}} <br/>
            <strong>Source: </strong>{{::result.task.source}} <br/>
            <strong>URL: </strong>{{::result.task.url}} <br/>
            <strong>Unique Countries: </strong>{{::result.uniq_countries}}
            <hr>
            <strong>Country: </strong>{{::result.page.country}} <br/>
            <strong>Server: </strong>{{::result.page.server}} <br/>
            <strong>City: </strong>{{::result.page.city}} <br/>
            <strong>Domain: </strong>{{::result.page.domain}} <br/>
            <strong>IP: </strong>{{::result.page.ip}} <br/>
            <strong>ASN Name: </strong>{{::result.page.asnname}} <br/>
            <strong>ASN: </strong>{{::result.page.asn}} <br/>
            <strong>URL: </strong>{{::result.page.url}} <br/>
            <strong>PTR: </strong>{{::result.page.ptr}}
            <hr>
            <strong>Screenshot: <br/></strong><a ng-href="https://urlscan.io/screenshots/{{::result._id}}.png" target="_blank"><img src="https://urlscan.io/thumbs/{{::result._id}}.png"></a>
            <hr>
            <dl class="dl-horizontal" ng-if="result.files.length > 0">
                <dt>Files: </dt>
                <dd class="wrap">
                <div ng-repeat="file in ::result.files | limitTo:20">
                    <strong>File Name: </strong>{{::file.filename}}<br/>
                    <strong>SHA256: </strong><a ng-href="https://urlscan.io/sha256/{{::file.sha256}}" target="_blank">{{::file.sha256}}</a><br/>
                    <strong>Size (In Bytes): </strong>{{::file.filesize}} <br/>
                    <strong>Mime-Type: </strong>{{::file.mimeType}}
                    <hr>
                </div>
                </dd>
            </dl>
            <hr>
            </dd>
        </div>
		</dl>
	</div>
</div>
