<div class="chart-container">
    <div class="chart-container-header mb-xxs clearfix">
        <span class="pull-right">
            <a href class="text-danger" ng-click="$vm.removeContainer($index)"><i class="fa fa-times"></i> Remove</a>
        </span>
    </div>
    <div class="chart-container-dropzone"
        dnd-list="item.items"
        dnd-allowed-types="$vm.options.containerAllowedTypes">
        <!-- dnd-disable-if="item.items.length >= $vm.options.maxColumns" -->

            <dashboard-item ng-repeat="component in item.items"
                dnd-draggable="component"
                dnd-type="component.type"
                dnd-effect-allowed="move"
                dnd-moved="item.items.splice($index, 1)"

                type="{{component.type}}"
                autoload="false"
                mode="edit"
                options="component.options">

            </dashboard-item>
    </div>
</div>
