
<div class="report-PassiveTotal" ng-if="success">
    <style>
        .report-PassiveTotal dl {
            margin-bottom: 2px;
        }

    </style>

    <div class="panel panel-info" ng-if="success">
        <div class="panel-heading">
            <strong>Detailed Information</strong>
        </div>
        <div class="panel-body">
            <div ng-if="content.results.length === 0">
                No records found
            </div>
            <table class="table table-hover" ng-if="content.results.length > 0">
                <tr>
                    <th>SHA1</th>
                    <th>First seen</th>
                    <th>Last seen</th>
                </tr>
                <tr ng-repeat="c in content.results">
                    <td class="wrap">{{c.sha1}}</td>
                    <td>{{c.firstSeen || 'None'}}</td>
                    <td>{{c.lastSeen || 'None'}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="panel panel-danger" ng-if="!success">
    <div class="panel-heading">
        <strong>{{(artifact.data || artifact.attachment.name) | fang}}</strong>
    </div>
    <div class="panel-body">
        {{content.errorMessage}}
    </div>
</div>
