<div class="flow-observable-job">
    <div class="flow-item-title wrap">
        <i class="glyphicon glyphicon-cog"></i>
        <span ng-if="base.operation === 'Creation'">
            Action: <em>{{base.details.responderName}}</em> started
        </span>
        <span ng-if="base.operation === 'Update'">
            Action <em>{{base.details.responderName}}</em> terminated
        </span>
    </div>
    <div class="flow-item-updates wrap">
        <span ng-repeat="(k, v) in base.details" ng-switch="k">
            <div ng-switch-when="startDate">
                {{k}}: <em>{{v | showDate}}</em>
            </div>
            <div ng-switch-when="endDate">
                {{k}}: <em>{{v | showDate}}</em>
            </div>
            <div ng-switch-default>
                {{k}}: <em>{{v | limitTo: 250}}</em>
            </div>
        </span>
    </div>
</div>
