<div class="box search-list">
    <div class="box-header">
        <h3 class="box-title">Search result ({{searchResults.total}} records(s) found)</h3>
        <!-- <small>
            <em>{{searchResults.filter}}</em>
        </small> -->
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-md-12" ng-repeat="value in searchResults.values" ng-switch="value.type">
                <search-item type="case" value="value" ng-switch-when="case" icon="glyphicon glyphicon-folder-open"></search-item>
                <search-item type="task" value="value" ng-switch-when="case_task" icon="glyphicon glyphicon-tasks"></search-item>
                <search-item type="task-log" value="value" ng-switch-when="case_task_log" icon="glyphicon glyphicon-comment"></search-item>
                <search-item type="observable" value="value" ng-switch-when="case_artifact" icon="glyphicon glyphicon-pushpin"></search-item>
                <search-item type="observable-job" value="value" ng-switch-when="case_artifact_job" icon="glyphicon glyphicon-cog"></search-item>
            </div>
            <psearch control="searchResults"></psearch>
        </div>
    </div>

</div>
