logs
bin
conf/application.conf
graphql.config.json
graphql.schema.json

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
RUNNING_PID
.cache-main
.cache-tests
sbt-launch.jar

# Eclipse
.project
.target
.settings
tmp
.classpath

# IntelliJ IDEA
/.idea
/*.iml
/out
/.idea_modules
