dev
logs
bin
conf/application.conf
conf/migration.conf
/conf/cloner.conf
graphql.config.json
graphql.schema.json
.graphqlconfig

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
RUNNING_PID
.cache-main
.cache-tests
sbt-launch.jar
.bsp/

# Eclipse
.project
.target
.settings
tmp
.classpath

# IntelliJ IDEA
/*.iml
/out
/.idea_modules
/.idea/**
!/.idea/runConfigurations/
!/.idea/runConfigurations/*

# VSCode
.vscode/
.bloop/
.metals/
metals.sbt

.jvmopts
