logs

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
RUNNING_PID
.cache-main
.cache-tests

# Eclipse
.project
.target
.settings
tmp
.classpath
.cache-macros

# IntelliJ IDEA
/.idea
/*.iml
/out
/.idea_modules

# Python
__pycache__/
*.py[cod]
*$py.class
/bin/
