<div class="report-PT" ng-if="success">
    <style>
        .report-PT dl {
            margin-bottom: 2px;
        }

    </style>

    <div class="panel panel-info" ng-if="success">
        <div class="panel-heading">
            <strong>PassiveTotal OSINT</strong>
        </div>
        <div class="panel-body">
            <div ng-if="content.results.length === 0">
                No records found
            </div>
            <div ng-if="content.results.length !== 0">
                <div ng-repeat="c in content.results" class="panel panel-default">
                    <div class="panel-body">
                        <dl class="dl-horizontal" ng-repeat="(key,value) in c">
                            <dt>{{key}}:</dt>
                            <dd>
                                <div ng-switch="key">
                                    <div ng-switch-when="tags" ng-repeat="v in value">
                                        {{v}}
                                    </div>
                                    <div ng-switch-when="inReport" ng-repeat="v in value">
                                        {{v}}
                                    </div>
                                    <div ng-switch-default>
                                        <span>{{value || None}}</span>
                                    </div>
                                </div>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <!-- General error -->
    <div class="panel panel-danger" ng-if="!success">
        <div class="panel-heading">
            <strong>{{(artifact.data || artifact.attachment.name) | fang}}</strong>
        </div>
        <div class="panel-body">
            {{content.errorMessage}}
        </div>
    </div>
