<div ng-if="serie.filters.length > 0">
    <strong>Serie's filter</strong>
</div>
<div class="row mb-xxxs" ng-repeat="filter in serie.filters track by $index">
    <div class="col-sm-4">
        <div class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="removeSerieFilter(serie, $index)">
                    <i class="fa fa-times text-danger"></i>
                </button>
            </span>
            <select class="form-control" ng-model="filter.field"
                ng-options="item for item in metadata[serie.entity].attributeKeys"
                ng-change="setFilterField(filter, serie.entity)"></select>
        </div>
    </div>
    <div class="col-sm-8">
        <filter-editor metadata="metadata" filter="filter" entity="serie.entity"></filter-editor>
    </div>
</div>
<div class="mt-xxs">
    <a href ng-click="addSerieFilter(serie)">
        <i class="fa fa-plus"></i> Add a filter
    </a>
</div>
