<div class="panel panel-info" ng-if="success">
    <div class="panel-heading">
        PhishingInitiative Report for <strong>{{artifact.data | fang}}</strong>
    </div>
    <div class="panel-body">
 <dl class="dl-horizontal">
                <dt>Status: </dt>
                <dd class="wrap" ng-class="{'text-danger': content.tag_label==='phishing', 'text-success': content.tag_label==='clean'}">
   {{content.tag_label}}
  </dd>
        </dl>
    </div>
</div>
<div class="panel panel-danger" ng-if="!success">
    <div class="panel-heading">
        <strong>{{artifact.data | fang}}</strong>
    </div>
    <div class="panel-body">
        {{content.errorMessage}}
    </div>
</div>
