<div class="case-custom-fields" ng-controller="CaseCustomFieldsCtrl">
    <h4 class="vpad10 text-primary">
        Additional information
        <span uib-dropdown class="ml-m" ng-if="canEdit && customFieldsAvailable">
            <a href class="dropdown-toggle" uib-dropdown-toggle>
                <i class="fa fa-plus"></i>
            </a>
            <ul class="dropdown-menu scroll-dropdown" uib-dropdown-menu>
                <li ng-repeat="key in keys(allCustomFields) | orderBy">
                    <a ng-click="addCustomField(allCustomFields[key])">{{allCustomFields[key].name}}</a>
                </li>
            </ul>
        </span>
    </h4>

    <div ng-if="!orderedFields || orderedFields.length === 0">
        <em>No additional information have been specified</em>
    </div>

    <div class="row">
        <div ng-repeat="k in orderedFields track by $index">
            <div class="clearfix" ng-if="$index % 3 == 0"></div>
            <div class="col-xs-4">
                <custom-field-input
                    field="customFieldsCache[k]" on-update="updateField(fieldName, value)" editable="canEdit"
                    value="caze.customFields[customFieldsCache[k].reference][customFieldsCache[k].type]"></custom-field-input>
            </div>
        </div>
    </div>
</div>
