<div class="col-md-10 col-md-offset-1 bg-info" ng-switch="analyzersList.countActiveAnalyzers.total">

    <div class="text-center" ng-switch-when="0">
        <div class="vpad10 text-danger">
            Sorry, there are currently no analyzers for the selected observable type(s)
        </div>
        <div class="vpad10">
            <span class="btn btn-sm btn-default" ng-click="selection.Action='main';">Cancel</span>
        </div>
    </div>

    <div class="p-xxs" ng-switch-default>
    	<div class="mb-xxs text-center text-warning" ng-if="analyzersList.countDataTypes > 1">
            Only a subset of the selected observables can be analyzed <strong>({{analyzersList.activeDataTypes.join(', ')}})</strong> and the remaining observables will be ignored
        </div>
        <div class="mb-xxs">
            <a href class="mr-xxs" ng-click="selectAllAnalyzers(true)">Select All</a><a href class="ml-xxs" ng-click="selectAllAnalyzers(false)">Deselect All</a>
        </div>
        <ul class="list-unstyled mb-xxs">
            <li ng-repeat="analyzer in analyzersList.analyzers | orderObjectBy:'name'" ng-show="analyzersList.active[analyzer.name]">
                <input id="select_{{analyzer.name}}" value="{{analyzer.description}}" type="checkbox" ng-model="analyzersList.selected[analyzer.name]">
                <label for="select_{{analyzer.name}}">{{analyzer.name}}</label>
            </li>
        </ul>
        <div class="text-center mt-xxs">
            <span class="btn btn-sm btn-primary" ng-click="runAnalyzerOnSelection();"><i class="glyphicon glyphicon-fire"></i> Run selected analyzers</span>
            <span class="btn btn-sm btn-default" ng-click="selection.Action='main';">Cancel</span>
        </div>
    </div>
</div>
