<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">List of organisations</h3>
            </div>
            <div class="box-body">
                <div ng-include="'views/partials/admin/organisation/list/toolbar.html'"></div>

                <!-- Datalist  -->
                <div class="row mt-s">
                    <div class="col-md-12">
                        <table class="table table-striped case-list">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th style="width: 300px">Created By</th>
                                    <th style="width: 160px">Created At</th>
                                    <th style="width: 250px"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="org in $vm.list">
                                    <td>
                                        <div class="org-name">
                                            <a ui-sref="app.administration.organisations-details({organisation: org.name})">{{::org.name}}</a>
                                        </div>
                                        <div class="org-description text-muted">
                                            {{::org.description || 'No description'}}
                                        </div>
                                        <div class="mt-xs" ng-if="org.links.length > 0">
                                            <span class="text-muted mr-xxs">Linked organizations:</span>
                                            <span class="label label-default mr-xxs" ng-repeat="link in ::org.links | orderBy">{{link}}</span>
                                        </div>
                                        <div class="mt-xs" ng-if="org.links.length === 0">
                                            <span class="text-muted mr-xxs">Linked organizations:</span>
                                            <span class="text-warning"><em>None</em></span>                                            
                                        </div>
                                    </td>

                                    <td class="clearfix">
                                      <user user-id="org.createdBy" icon-only="false" icon-size="m"></user>
                                    </td>
                                    <td>{{org.createdAt | showDate}}</td>
                                    <td>
                                        <span class="mr-xs text-primary">
                                            <a ui-sref="app.administration.organisations-details({organisation: org.name})">
                                                <i class="fa fa-cog"></i> Configure
                                            </a>
                                        </span>
                                        <span class="clickable mr-xs text-primary" ng-click="$vm.showNewOrg('edit', org)">
                                            <i class="fa fa-edit"></i> Edit</span>
                                        <span class="clickable mr-xs text-primary" ng-click="$vm.showLinks(org)" ng-if="org.name !== 'admin'">
                                            <i class="fa fa-link"></i> Link</span>
                                        <!-- <a class="btn btn-xs btn-icon btn-clear" href ng-click="$vm.showNewOrg('edit', org)" >
                                            <i class="text-info text-20 fa fa-edit"></i>
                                        </a> -->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
