<h3 class="pad10 text-primary">
    Observable Analyzers
    <span class="pull-right" ng-if="analysisEnabled">
        <small><a href class="text-primary" ng-click="runAll()">Run all</a></small>    
    </span>
</h3>
<table class="table table-hover">
    <thead>
        <th>Analyzer</th>
        <th width="300">Last analysis</th>        
        <th width="60" ng-if="analysisEnabled">Action</th>
    </thead>
    <tbody>
        <tr ng-repeat="(analyzerId, jobs) in analyzerJobs" ng-init="analyzers[analyzerId].showRows=false;">
            <td>
                <a ng-if="jobs.length > 1" class="noline mr-xxs" href ng-click="analyzers[analyzerId].showRows = !analyzers[analyzerId].showRows">
                    <i class="fa" ng-class="{ true:'fa-minus-square-o', false:'fa-plus-square-o' }[analyzers[analyzerId].showRows]"></i>                        
                </a>
                {{::analyzerId}}<br> 
                <small class="text-muted">{{::analyzers[analyzerId] | getField: 'description'}}</small>
            </td>
            <td>                
                <ul class="list-unstyled">
                    <li ng-repeat="job in jobs" ng-show="analyzers[analyzerId].showRows || $first">                        
                        <span class="mr-s">
                            <i class="glyphicon" ng-class="{ Failure:'glyphicon-warning-sign text-warning', Success:'glyphicon-ok text-success', InProgress:'fa fa-cog fa-spin'}[job.status]"></i>
                        </span>

                        <a href ng-click="showReport(job)" tooltip="View report">{{(job.endDate || job.startDate) | showDate}}</a>
                    </li>
                </ul>                
            </td>
            <td ng-if="analysisEnabled">                
                <span class="btn btn-xs" ng-class="{true: 'btn-warning', false: 'btn-danger'}[jobs.length > 0]"
                    ng-click="runAnalyzer(analyzerId)"
                    ng-if="analyzers[analyzerId].active">
                    <i class="glyphicon" ng-class="{true: 'glyphicon-repeat', false: 'glyphicon-fire'}[jobs.length > 0]"></i>
                </span>                
            </td>    
        </tr>        
    </tbody>
</table>

<div class="row vpad20">
    <div class="col-md-6 col-md-offset-3">
        <hr>
    </div>
</div>

<div class="row" style="border-bottom:1px dotted">
    <div class="col-md-12">
        <p>
            <strong>Report</strong>
        </p>
    </div>
</div>

<div class="row observable-report vpad10" ng-if="report">
    <div class="col-md-12">
        <report artifact="artifact" content="report.content.full || report.content" default="jsonhuman" flavor="long" name="report.template" status="report.status"></report>
    </div>
</div>
