<div class="row">
    <!-- Observable details information-->
    <div class="col-md-7">
		<h3 class="vpad10 text-primary">Observable Information</h3>
		<dl class="dl-horizontal clear">
			<dt class="pull-left">TLP</dt>
			<dd>
				<a class="noline" href ng-init="activeTlp = 'static'" ng-click="activeTlp = 'active'">
					<tlp value="artifact.tlp" format="activeTlp" style="font-size:16px" on-update="updateField('tlp', newValue)"></tlp>
				</a>
			</dd>
		</dl>

		<dl class="dl-horizontal clear" ng-if="artifact.attachment && artifact.attachment.hashes">
			<dt class="pull-left">Hash</dt>
			<dd>
                <div ng-repeat="hash in artifact.attachment.hashes" class="wrap" btf-markdown="hash | hashType"></div>
            </dd>
		</dl>

		<dl class="dl-horizontal clear" ng-show="artifact.metadata.size">
			<dt class="pull-left">Size</dt>
			<dd>{{artifact.attachment.size}} bytes</dd>
		</dl>

		<dl class="dl-horizontal clear">
			<dt class="pull-left">Date added</dt>
			<dd>{{artifact.startDate | showDate}}</dd>
		</dl>

        <dl class="dl-horizontal clear">
			<dt class="pull-left">Is IOC</dt>
			<dd>
				<span ng-init="iocActive = false" ng-mouseenter="iocActive = true" ng-mouseleave="iocActive = false" ng-click="updateField('ioc', !artifact.ioc)">
                    <i class="text-primary fa" ng-class="{'true': 'fa-star', 'false': 'fa-star-o'}[artifact.ioc]"></i>
                    <small ng-show="iocActive">
                        <a href class="clickable" uib-tooltip="edit">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </a>
                    </small>
				</span>
			</dd>
		</dl>

		<dl class="dl-horizontal clear">
			<dt class="pull-left">Labels</dt>
			<dd>
				<updatable-tags value="artifact.tags" on-update="updateField('tags', getLabels(newValue))"></updatable-tags>
			</dd>
		</dl>

		<dl class="dl-horizontal clear">
			<dt class="pull-left">Description</dt>
			<dd><updatable-text value="artifact.message" on-update="updateField('message', newValue)" placeholder="Artifact description"></updatable-text></dd>
		</dl>
    </div>
    <!-- Observable links -->
    <div class="col-md-5">
		<h3 class="vpad10 text-primary">Observable Links</h3>
		<strong>Observable seen in {{similarArtifacts.length}} other case(s)</strong>
		<table  ng-if="similarArtifacts.length > 0" class="table table-hover">
			<thead>
				<tr>
					<th>TLP</th>
					<th>Case</th>
					<th>Date added</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="a in similarArtifacts" style="cursor: pointer;" ng-click="openArtifact(a)" uib-tooltip="{{a.message}}" tooltip-popup-delay="500" tooltip-placement="bottom">
					<td><tlp value="a.tlp"></tlp></td>
					<td>[{{a.dataType}}]: {{a.data}}<br>
                        #{{a.case.caseId}} - {{a.case.title}}
                    </td>
					<td>{{a.startDate | showDate}}</td>
				</tr>
			</tbody>
		</table>
    </div>
</div>
