.active-filters {
    clear: both;
}
.active-filters > ul {
    list-style: none;
    overflow: hidden;
    margin-left: 0;
    padding-left: 0;
}
.active-filters > ul li {
    float: left;
    padding: 5px;
    margin-bottom: 5px;
}

.active-filters > ul li:first-child {
    padding-left: 0;
}

.active-filters > ul li.filter-item {
    margin-right: 15px;
    border-radius: 3px;
    background-color: #eee;
}

.active-filters > ul li.filter-item .filter-close {
    padding-left: 10px;
}

.filter-panel {
    padding: 10px;
    background-color: #f5f5f5;
    border-left: 4px solid #337ab7;
}

.filter-panel hr.filter-separator {
    padding: 0 50px;
    border: none;
    border-top: 1px dashed #ccc;
    color: #ccc;
    text-align: center;
}
/*
.filter-panel hr.filter-separator:after {
    content: "OR";
    display: inline-block;
    position: relative;
    top: -0.8em;
    font-size: 1.29em;
    padding: 0 0.25em;
    background: #f5f5f5;
}
*/
