.active-filters {
    clear: both;
}
.active-filters > ul {
    list-style: none;
    overflow: hidden;
    margin-left: 0;
    padding-left: 0;
}
.active-filters > ul li {
    float: left;
    padding: 5px;
    margin-bottom: 5px;
}

.active-filters > ul li:first-child {
    padding-left: 0;
}

.active-filters > ul li.filter-item {
    margin-right: 15px;
    border-radius: 3px;
    background-color: #eee;
}

.active-filters > ul li.filter-item .filter-close {
    padding-left: 10px;
}

.active-filters .filter-value {
    max-width: 200px;
}

.active-filters .kv-label .default {
    background-color: #eee;
}

.filter-panel {
    padding: 10px;
    background-color: #f5f5f5;
    border-left: 4px solid #337ab7;
}

.filter-panel hr.filter-separator {
    padding: 0 50px;
    border: none;
    border-top: 1px dashed #ccc;
    color: #ccc;
    text-align: center;
}

.stats-panel .stats-item-wrapper {
    padding: 5px;
    background-color: #f5f5f5;
}

.stats-panel .box {
    margin-bottom: 0;
}

.similar-case-list .progress {
    height: 2px;
    opacity: 1;
}

.similar-case-list .has-feedback .form-control {
    padding-right: 25px;
}

.similar-case-list .case-item.filter-panel {
    padding: 5px 0;
    margin-bottom: 5px !important;
    border: none !important;
}

.similar-case-list .case-item.filter-panel .form-group {
    margin-bottom: 0 !important;
}
