<div class="row">
    <div class="col-md-12">
        <div class="btn-toolbar" role="toolbar">

            <div class="btn-group">
                <button class="btn btn-sm btn-primary" ng-click="$vm.newTemplate()">
                    <i class="mr-xxxs fa fa-plus"></i>New template
                </button>
            </div>
            <div class="btn-group">
                <button class="btn btn-sm btn-default" ng-click="$vm.importTemplate()">
                    <i class="mr-xxxs fa fa-upload"></i>Import template
                </button>
            </div>

            <div class="btn-group" uib-dropdown>
                <button class="btn btn-primary btn-sm dropdown-toggle" uib-dropdown-toggle type="button">
                    <i class="mr-xxxs fa fa-sort"></i>
                    Sort by
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu>
                    <li>
                        <a ng-click="$vm.sortBy(['+displayName'])">Ascendant display name</a>
                    </li>
                    <li>
                        <a ng-click="$vm.sortBy(['-displayName'])">Descendent display name</a>
                    </li>
                    <li>
                        <a ng-click="$vm.sortBy(['-_createdAt'])">Newest first</a>
                    </li>
                    <li>
                        <a ng-click="$vm.sortBy(['+_createdAt'])">Oldest first</a>
                    </li>
                    <li>
                        <a ng-click="$vm.sortBy(['-_updatedAt'])">Most recently updated first</a>
                    </li>
                    <li>
                        <a ng-click="$vm.sortBy(['+_updatedAt'])">Least recently updated first</a>
                    </li>
                </ul>
            </div>

            <div class="btn-group pull-right" role="group">
                <page-sizer collection="$vm.list" sizes="[10, 15, 30, 100]"></page-sizer>
            </div>

            <div class="btn-group pull-right" role="group">
                <button class="btn btn-sm" ng-class="{true: 'btn-primary', false:'btn-default'}[$vm.filtering.context.showFilters]" type="button" ng-click="$vm.toggleFilters()">
                    <i class="fa fa-search"></i> Filters
                </button>
            </div>
        </div>
    </div>
</div>
