<div class="panel panel-danger" ng-if="!success">
    <div class="panel-heading">
        <strong>{{artifact.data | fang}}</strong>
    </div>
    <div class="panel-body">
        {{content.errorMessage}}
    </div>
</div>

<div class="panel panel-info" ng-if="success">
    <div class="panel-heading">
        <strong>{{artifact.data | fang}}</strong>
    </div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>Date of record</dt>
            <dd>{{content.whois.date}}</dd>
        </dl>
        <pre>{{content.whois.record}}</pre>
    </div>
</div>
