<div class="form-group">
    <div>
        <label>Type</label>
    </div>
    <div class="btn-group">
        <label class="btn btn-default" ng-model="component.options.yAxis.type" uib-btn-radio="'field'">Field Aggregation</label>
        <label class="btn btn-default" ng-model="component.options.yAxis.type" uib-btn-radio="'category'">Custom Series</label>
    </div>
</div>
<div ng-switch="component.options.yAxis.type">
    <div ng-switch-when="field">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Aggregation Field</label>
                    <select class="form-control" ng-model="component.options.yAxis.field"
                        ng-options="item.name as item.name for item in skipFields(metadata[component.options.entity].attributes, ['date', 'text']) | orderBy:'name'"
                        ng-change="clearProperty(component.options.yAxis, 'names'); clearProperty(component.options.yAxis, 'colors')"  
                        ></select>
                </div>
            </div>
        </div>

        <div ng-if="component.options.yAxis.field && metadata[component.options.entity].attributes[component.options.yAxis.field].values.length > 0">
            <label>Customize</label>
            <div class="row mt-xxs" ng-repeat="val in metadata[component.options.entity].attributes[component.options.yAxis.field].values track by $index">
                <div class="col-sm-4">
                    <div class="form-control">
                        <label>{{val}}</label>
                    </div>
                </div>
                <div class="col-sm-4">
                    <input type="text" class="form-control" ng-model="component.options.yAxis.names[val]" placeholder="Label">
                </div>
                <div class="col-sm-4">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="component.options.yAxis.colors[val]" placeholder="Color" size="8">
                        <span class="input-group-btn">
                            <button colorpicker colorpicker-close-on-select class="btn btn-default" ng-model="component.options.yAxis.colors[val]" type="button">
                                <i class="fa fa-stop" style="color: {{component.options.yAxis.colors[val]}};"
                                  ng-class="{'fa-stop': serie.color, 'fa-ellipsis-h': !component.options.yAxis.colors[val]}"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-switch-when="category">
        <div class="col-sm-6">
            <div class="form-group">
                <label>Entity</label>
                <select class="form-control" ng-model="component.options.yAxis.entity"
                    ng-options="item as metadata[item].label for item in metadata.entities"></select>
            </div>
        </div>
    </div>
</div>
