<br>


<h4>DNSDB Domain Name History Report <em>(RRSET)</em></h4>
<br>
<br>	
<h5>{{content.length}} name(s) found.<small><a href ng-click="isCollapsed = !isCollapsed">Show all</a></small></h5> 
<hr>
<div class="row col-md-8 col-md-offset-2" collapse="!isCollapsed">

	<pre style="padding: 1px;
						font-size: 85%;
						line-height: 0.2;
						background-color: #F7F7F7;
						border-radius: 3px;">

		<dl style="margin-bottom:2px;" class="dl-horizontal">
		<dd	style="text-align:left" ng-repeat="res in content">{{res.rrname}}</dd>
		</dl>
	</pre>
	
</div>
<br>
<div class="row">
	<table class="table">
		<thead>
			<tr>
				<th>bailiwick</th>
				<th>count</th>
				<th>rdata</th>
				<th>rrname</th>
				<th>zone_time_first</th>
				<th>zone_time_last</th>
			</tr>
		</thead>
		<tbody ng-repeat="row in content">
			<tr>
				<td>{{row.bailiwick}}</td>
				<td>{{row.count}}</td>
				<td>
					<div ng-repeat="rdata in row.rdata">{{rdata}}</div>
				</td>
				<td>{{row.rrname}}</td>
				<td>{{row.zone_time_first | showDate}}</td>
				<td>{{row.zone_time_last | showDate}}</td>
			</tr>
		</tbody>
	</table>
</div>