<div class="panel panel-info" ng-if="success">
    <div class="panel-heading">
        Abuse Finder Information for <strong>{{artifact.data}}</strong>
    </div>
    <div class="panel-body">
      <dl class="dl-horizontal" ng-if="content.abuse_finder.names">
        <dt>Names:</dt>
        <dd>
          <div ng-repeat="name in content.abuse_finder.names">
            {{name}}
          </div>
        </dd>
      </dl>
      <dl class="dl-horizontal" ng-if="content.abuse_finder.names">
        <dt>Abuse addresses:</dt>
        <dd>
          <div ng-repeat="abuse in content.abuse_finder.abuse">
            {{abuse}}
          </div>
        </dd>
      </dl>
    </div>
</div>

<!-- General error -->
<div class="panel panel-danger" ng-if="!success">
    <div class="panel-heading">
        <strong>{{(artifact.data || artifact.attachment.name) | fang}}</strong>
    </div>
    <div class="panel-body">
        {{content.errorMessage}}
    </div>
</div>
