<form class="form-horizontal" name="form" ng-submit="$modal.ok()">
    <div class="modal-header bg-primary">
        <h3 class="modal-title">Share case</h3>
    </div>
    <div class="modal-body">
        <div class="mb-s">
            <button class="btn btn-primary" type="button" ng-click="$modal.addRule()">Add sharing rule</button>
        </div>

        <div ng-if="$modal.rules.length === 0">
            <div class="empty-message">No sharing rule defined</div>
        </div>

        <table class="mb-0 table table-striped" ng-repeat="rule in $modal.rules track by $index">
            <thead>
                <th class="text-center" width="40">#</th>
                <th>Organisations</th>
                <th>Profile</th>
                <th width="100">Tasks</th>
                <th width="100">Observables</th>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center" width="40">{{$index + 1}}</td>
                    <td>
                        <multiselect ng-model="$modal.rules[$index].organisations"
                            options="$modal.organisations"
                            show-select-all="true"
                            show-unselect-all="true"
                            show-search="true"
                        ></multiselect>
                    </td>
                    <td>
                        <select class="form-control" ng-model="$modal.rules[$index].profile"
                            ng-options="profile for profile in $modal.profiles">
                                <option value="" disabled selected>-- Select profile --</option>
                        </select>
                    </td>
                    <td>
                        <select class="form-control" name="tasks" ng-model="$modal.rules[$index].tasks"
                            ng-options="item for item in $modal.options ">
                        </select>
                    </td>
                    <td>
                        <select class="form-control" name="observables" ng-model="$modal.rules[$index].observables"
                            ng-options="item for item in $modal.options ">
                        </select>
                    </td>
                </tr>
                <tr ng-show="$modal.rules[$index].organisations.length > 0">
                    <td colspan="5" class="wrap">
                        <span class="mr-xxs">Users of</span>
                        <span class="label label-lg label-default mr-xxs" ng-repeat="item in $modal.rules[$index].organisations">{{item}}</span>
                        <span>organisation(s) will have a <span class="label label-lg label-default">{{$modal.rules[$index].profile}}</span> access to this case</span>
                        <span>, <span class="label label-lg label-default">{{$modal.rules[$index].tasks}}</span> of it's tasks</span>
                        <span>, <span class="label label-lg label-default">{{$modal.rules[$index].observables}}</span> of it's observables</span>

                        <hr class="mv-s">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default pull-left" type="button" ng-click="$modal.cancel()">Cancel</button>
        <button class="btn btn-primary pull-right" type="button" ng-click="$modal.save()">Save</button>
    </div>
</form>
