<div class="row" ng-controller="AlertStatsCtrl as statsCtrl">
    <div class="col-md-12">
        <h4>Statistics</h4>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Events by Status</div>
            <div class="panel-body">
                <table class="table table-condensed">
                    <tr ng-repeat="item in statsCtrl.byStatus.details">
                        <td class="active">{{item.key}}</td>
                        <td>
                            <a href ng-click="misp.addFilterValue('eventStatus', item.key)">{{item.count}}</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Top 5 Sources</div>
            <div class="panel-body">
                <table class="table table-condensed">
                    <tr ng-repeat="item in statsCtrl.byType.details">
                        <td class="active">{{item.key}}</td>
                        <td>
                            <a href ng-click="misp.addFilterValue('type', item.key)">{{item.count}}</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Top 5 tags</div>
            <div class="panel-body">
                <table class="table table-condensed">
                    <tr ng-repeat="item in statsCtrl.byTags.details">
                        <td class="active">{{item.key}}</td>
                        <td>
                            <a href ng-click="misp.addFilterValue('tags', item.key)">{{item.count}}</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
