<div class="modal-header bg-primary">
    <h3 class="modal-title">MISP Export</h3>
</div>
<div class="modal-body">
    <div ng-if="dialog.mode !== 'error'">
        <p>
            You are about to export the case <strong>{{dialog.caze.title}}</strong> to one of the following MISP servers:
        </p>

        <table class="mt-m table table-striped valigned">
            <tbody class="pv-xs" ng-repeat="server in dialog.servers"> <!-- TODO Nabil -->
                <tr>
                    <td><h4>{{server}}</h4></td>
                    <td width="150">
                        <button class="btn btn-block pull-right"
                            ng-class="{'btn-primary': dialog.existingExports[server], 'btn-warning': !dialog.existingExports[server]}"
                            ng-click="dialog.export(server)"
                            ng-disabled="dialog.loading">{{dialog.existingExports[server] ? 'Update' : 'Export'}}</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div ng-if="dialog.mode === 'error'">
        <div class="alert alert-danger">
            Failed to export the following observables
        </div>
        <table class="table table-striped">
            <thead>
                <th>Observable</th>
                <th>Reason</th>
            </thead>
            <tbody>
                <tr ng-repeat="o in dialog.failures">
                    <td class="wrap">{{o.data | fang}}</td>
                    <td class="nowrap">{{o.message}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="modal-footer text-left">
    <button class="btn btn-default" ng-click="dialog.cancel()" type="button">Cancel</button>
    <button class="btn btn-primary pull-right" ng-if="dialog.mode === 'error'" ng-click="dialog.copyToClipboard()" type="button">
        <i class="fa fa-copy"></i> Copy to clipboard
    </button>
</div>
