<h4 class="vpad10 text-primary">
    Custom fields ({{$vm.keys($vm.template.customFields).length}})
    <span uib-dropdown class="pull-right">
        <a href class="dropdown-toggle" uib-dropdown-toggle>
            <i class="fa fa-plus"></i>
            Add custom field
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" uib-dropdown-menu>
            <li ng-repeat="(key, value) in $vm.fields">
                <a ng-click="$vm.addCustomField(value)">{{value.name}}</a>
            </li>
        </ul>
    </span>
</h4>

<div ng-if="$vm.templateCustomFields.length !== 0" ng-init="isCollapsed=true" ui-sortable="$vm.sortableFields" ng-model="$vm.templateCustomFields">
    <div class="panel panel-default" ng-repeat="m in $vm.templateCustomFields" ng-init="description=fields[m].description">
        <div class="panel-heading">
            <span class="drag-handle text-primary clickable mr-xxs">
                <i class="fa fa-bars"></i>
            </span>
            <a href ng-click="isCollapsed=!isCollapsed">
                <i class="fa" ng-class="{'fa-caret-down': isCollapsed, 'fa-caret-up': !isCollapsed}"></i>
            </a>
            <span class="hpad5">{{$vm.fields[m].name}}</span>
            <span class="pull-right">
                <a class="text-danger" href ng-click="$vm.removeCustomField(m)">
                    <i class="fa fa-times"></i>&nbsp;Delete</a>
            </span>
        </div>
        <div class="panel-body" ng-hide="isCollapsed">
            <p ng-show="description != ''">{{description}}</p>
            <p class="text-warning" ng-show="!description || description===''">
                <em>No description specified</em>
            </p>
        </div>
    </div>
</div>
<div class="empty-message" ng-if="$vm.templateCustomFields.length === 0">
    No custom fields have been added
</div>
