<div class="search-item-title">
    <a href ui-sref="app.case.tasks-item({caseId: value.case.id, itemId: value.id})">
        {{value.title}}
    </a>
</div>
<div>
    <i class="glyphicon glyphicon-user"></i>
    <span>{{getUserInfo.get(value.owner) | getField: 'name'}}</span>

    <i class="glyphicon glyphicon-calendar ml-xxs" ng-if="value.startDate"></i>
    <span ng-bind="value.startDate | showDate"></span>
</div>
<div class="mt-xs wrap">
    <span ng-bind="(value.description || 'No Description') | limitTo: 250"></span>
</div>
<div class="mt-xs wrap">
    <strong>Status:</strong>
    <div>
      <span class="label label-default" ng-class="{
        'label-danger': value.status === 'Waiting',
        'label-warning': value.status === 'InProgress',
        'label-success': value.status === 'Completed'
      }">{{value.status}}</span>
    </div>
</div>
