<div class="panel panel-info" ng-if="success">
    <div class="panel-heading">
        <strong>Detailed Information</strong>
    </div>
    <div class="panel-body">
        <div ng-if="content[artifact.data].length === 0">
            No records found
        </div>
        <table class="table table-hover" ng-if="content[artifact.data].length > 0">
            <tr>
                <th>Source</th>
                <th>First seen by source</th>
                <th>Last seen by source</th>
                <th>Category</th>
                <th>Details</th>
            </tr>
            <tr ng-repeat="source in content[artifact.data]">
                <td class="wrap">{{source.source}}</td>
                <td>{{source.first_seen || '-'}}</td>
                <td>{{source.last_seen || '-'}}</td>
                <td>{{source.category || '-'}}</td>
                <td>
                    <li>First added in DB: {{source.firstAppearance }}</li>
                    <li>Last added in DB: {{source.lastAppearance }}</li></td>
            </tr>
        </table>
    </div>
</div>

<div class="panel panel-danger" ng-if="!success">
    <div class="panel-heading">
        <strong>{{(artifact.data || artifact.attachment.name) | fang}}</strong>
    </div>
    <div class="panel-body">
        {{content.errorMessage}}
    </div>
</div>
