<form ng-submit="$modal.confirm()">
  <div class="modal-header bg-{{$modal.config.flavor || 'primary'}}">
      <h3 class="modal-title">{{$modal.title}}</h3>
  </div>
  <div class="modal-body">
      <p ng-if="!$modal.config.isHtml">{{$modal.message}}</p>
      <p ng-if="$modal.config.isHtml" ng-bind-html="$modal.message"></p>
  </div>
  <div class="modal-footer text-left">
      <button class="btn btn-default" ng-click="$modal.cancel()" type="button">Cancel</button>
      <button class="btn btn-{{$modal.config.flavor || 'primary'}} pull-right" type="submit" auto-focus>{{$modal.config.okText || 'Ok'}}</button>
  </div>
</form>
