<div class="c3-container">
    <div class="c3-error" ng-if="error">
        <div class="text-center">
            <h4 class="text-danger">
                <div class="mb-xxs"><i class="fa fa-2x fa-exclamation-triangle"></i></div>
                <div>Failed to fetch data, please edit the widget definition</div>
            </h4>
        </div>
    </div>
    <div class="clearfix" ng-show="!error && chart && !hideActions">
        <a class="pull-right ml-xxs" href ng-csv="onSaveCsv"><i class="fa fa-file-text-o mr-xxxs"></i>CSV</a>
        <a class="pull-right ml-xxs" href ng-click="save()"><i class="fa fa-file-image-o mr-xxxs"></i>Image</a>
        <strong class="text-primary pull-right">Save as</strong>
    </div>
    <div class="c3-chart" ng-show="!error">
        <div styles="height:300px;" class="text-center"><i class="fa fa-spinner fa-spin fa-2x"></i><br>Loading...</div>
    </div>
</div>
