<div class="case-tags flexwrap">
    <span class="mr-xxxs text-muted"><i class="fa fa-code"></i></span>

    <strong class="text-muted mr-xxxs" ng-if="!$cmp.customFields || $cmp.definedValues === 0 ">None</strong>

    <span class="kv-label mb-xxxs mr-xxxs pointer"
        ng-repeat="cf in $cmp.customFields | orderBy:'order' track by $index"
        ng-click="$cmp.fieldClicked('customFields.' + cf.name, cf.value)"
        ng-if="cf.value !== undefined && cf.value !== null">

        <span class="kv-label-key default" uib-tooltip="{{cf.description}}" tooltip-placement="top">{{$cmp.fieldsCache[cf.name].name || cf.name}}</span>
        <span class="kv-label-val value default" uib-tooltip="{{cf | customFieldValue}}" tooltip-placement="top">{{cf | customFieldValue}}</span>
    </span>
</div>
