<div class="case-tags flexwrap">
    <span class="mr-xxxs text-muted"><i class="fa fa-code"></i></span>

    <strong class="text-muted mr-xxxs" ng-if="!$cmp.customFields || $cmp.customFields.length === 0">None</strong>

    <span class="double-val-label mb-xxxs mr-xxxs pointer"
        ng-repeat="cf in $cmp.customFields | orderBy:'order' track by $index"
        ng-click="$cmp.fieldClicked('customFields.' + cf.name, cf.value)"
        ng-if="cf.value !== undefined && cf.value !== null">

        <span class="default">{{cf.name}}</span>
        <span class="default">{{cf.value}}</span>
    </span>
</div>
