
<div class="empty-message" ng-if="!component.options.entity || !component.options.field">
    Please select entity and field in <a href ng-click="layout.activeTab = 0">Basic tab</a>
</div>

<div class="empty-message" ng-if="metadata[component.options.entity][component.options.field].values.length === 0">
    Customize colors
</div>

<form class="form-horizontal">
    <div class="form-group mb-xxs" ng-repeat="val in metadata[component.options.entity][component.options.field].values track by $index">
        <div class="col-sm-4">
            <strong>{{val}}</strong>
        </div>
        <div class="col-sm-4">
            <input type="text" class="form-control" ng-model="component.options.names[val]">
        </div>
        <div class="col-sm-4">
            <input type="text" class="form-control" ng-model="component.options.colors[val]">
        </div>
    </div>
</form>

<pre>{{component.options.field}}</pre>
<pre>{{metadata[component.options.entity][component.options.field]}}</pre>
<pre>{{component.options | json}}</pre>
