<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">
            {{component.options.title}}
        </h3>

        <div class="box-tools pull-right" ng-if="showEdit">
            <a href class="btn btn-box-tool" ng-click="editItem()">
                <i class="fa fa-pencil"></i> Edit
            </a>
            <a href class="btn btn-box-tool" ng-click="onRemove({rowIndex: rowIndex, colIndex: colIndex})">
                <i class="fa fa-times"></i> Remove
            </a>

        </div>
        <div class="box-tools pull-right" ng-if="mode === 'edit'">
            <button type="button" class="btn btn-box-tool" >
                <i class="fa fa-save"></i> Save
            </button>
        </div>
    </div>
    <div class="box-body" ng-switch="component.type">
        <dashboard-donut ng-switch-when="donut"
            options="component.options"
            filter="filter"
            autoload="autoload"
            refresh-on="{{refreshOn}}"
            resize-on="{{resizeOn}}"
            mode="mode"></dashboard-donut>

        <dashboard-bar ng-switch-when="bar"
            options="component.options"
            filter="filter"
            autoload="autoload"
            refresh-on="{{refreshOn}}"
            resize-on="{{resizeOn}}"
            mode="mode"></dashboard-bar>

        <dashboard-line ng-switch-when="line"
            options="component.options"
            filter="filter"
            autoload="autoload"
            refresh-on="{{refreshOn}}"
            resize-on="{{resizeOn}}"
            mode="mode"></dashboard-line>

        <dashboard-counter ng-switch-when="counter"
            options="component.options"
            filter="filter"            
            autoload="autoload"
            refresh-on="{{refreshOn}}"
            mode="mode"></dashboard-counter>

        <div ng-switch-default>Unhandled chart type</div>
    </div>
</div>
