<div ng-if="serie.filters.length > 0">
    <strong>Serie's filter</strong>
</div>
<div class="row mb-xxxs" ng-repeat="filter in serie.filters track by $index">
    <div class="col-sm-4">
        <div class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="removeSerieFilter(serie, $index)">
                    <i class="fa fa-times text-danger"></i>
                </button>
            </span>
            <select class="form-control" ng-model="filter.field"
                ng-options="item.name as item.name for (key, item) in metadata[component.options.entity].attributes"
                ng-change="setFilterField(filter)"></select>
        </div>
    </div>
    <div class="col-sm-8" ng-switch="editorFor(filter)">
        <input ng-switch-when="number" type="number" class="form-control" ng-model="filter.value">
        <input ng-switch-when="text" type="text" class="form-control" ng-model="filter.value">

        <div ng-switch-when="string" class="input-group">
            <div class="input-group-btn" uib-dropdown>
                <button type="button" class="btn btn-default dropdown-toggle" uib-dropdown-toggle>
                    {{filter.value.operator || 'any'}} of <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu>
                    <li><a href ng-click="filter.value.operator = 'any'">any of</a></li>
                    <li><a href ng-click="filter.value.operator = 'all'">all of</a></li>
                    <li><a href ng-click="filter.value.operator = 'none'">none of</a></li>
                </ul>
            </div>
            <tags-input class="form-control form-control-wrapper" min-length="2"
                ng-model="filter.value.list"
                placeholder="Enter a {{filter.field}}"
                replace-spaces-with-dashes="false"></tags-input>
        </div>

        <div ng-switch-when="enumeration" class="input-group">
            <div class="input-group-btn" uib-dropdown>
                <button type="button" class="btn btn-default dropdown-toggle" uib-dropdown-toggle>
                    {{filter.value.operator || 'any'}} of <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu>
                    <li><a href ng-click="filter.value.operator = 'any'">any of</a></li>
                    <li><a href ng-click="filter.value.operator = 'all'">all of</a></li>
                    <li><a href ng-click="filter.value.operator = 'none'">none of</a></li>
                </ul>
            </div>
            <tags-input class="form-control form-control-wrapper" min-length="2" ng-model="filter.value.list"
                replace-spaces-with-dashes="false"
                add-from-autocomplete-only="true"
                placeholder="Enter a {{filter.field}}"
                display-property="label">
                <auto-complete load-on-focus="true" load-on-down-arrow="true" min-length="1"
                    source="promiseFor(filter, $query)"
                    display-property="label"></auto-complete>
          </tags-input>
        </div>

        <div ng-switch-when="boolean" class="btn-group">
            <label uib-btn-radio="true" class="btn btn-default" name="{{filter.field}}" ng-model="filter.value">Yes</label>
            <label uib-btn-radio="false" class="btn btn-default" name="{{filter.field}}" ng-model="filter.value">No</label>
        </div>

        <div ng-switch-when="date" class="row">
            <div class="col-sm-6">
                <dt-picker date="filter.value.from" placeholder="from"></dt-picker>
            </div>
            <div class="col-sm-6">
                <dt-picker date="filter.value.to" placeholder="to"></dt-picker>
            </div>
        </div>
    </div>
</div>
<div class="mt-xxs">
    <a href ng-click="addSerieFilter(serie)">
        <i class="fa fa-plus"></i> Add a filter
    </a>
</div>
