<div class="row mb-s">
    <div class="col-md-12">
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group" if-permission="manageCase" allowed="{{userPermissions}}">
                <button class="btn btn-sm btn-primary" ng-click="$vm.shareCase()">
                    <i class="fa fa-plus"></i>
                    Add share
                </button>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-if="$vm.shares.length === 0">
    <div class="col-md-12">
        <div class=" empty-message">No records</div>
    </div>
</div>

<div class="row" ng-if="$vm.shares.length > 0">
    <div class="col-md-12">
        <p>
            The current case is shared with the following organisation(s)
        </p>

        <sharing-list
            shares="$vm.shares"
            organisations="$vm.organisations"
            profiles="$vm.profiles"
            on-delete="$vm.removeShare(id)"
            ></sharing-list>

        <!-- <div>
            <table class="table table-stripped">
                <thead>

                    <th>Organisation</th>
                    <th width="250">Profile</th>
                    <th width="160">Shared At</th>
                    <th width="160">Actions</th>
                </thead>
                <tbody>
                    <tr ng-repeat="share in $vm.shares | orderBy:'organisationName'">

                        <td>{{share.organisationName}}</td>
                        <td>
                            <updatable-select options="$vm.profiles" value="share.profileName" on-update="$vm.updateShareProfile(share._id, newValue)"></updatable-select>
                        </td>
                        <td>{{share.createdAt | shortDate}}</td>
                        <td>
                            <span class="clickable mr-xs text-danger" ng-click="$vm.removeShare(share._id)">
                                <i class="fa fa-trash"></i> Delete</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div> -->
    </div>
</div>
