<div class="row">
    <div ng-Class="{ 'col-md-9': appLayout.showFlow, 'col-md-12': !appLayout.showFlow}">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">List of cases ({{$vm.list.total || 0}} of {{$vm.caseCount}})</h3>
                <div class="box-tools pull-right" ng-show="!appLayout.showFlow">
                    <span class="ml-xs" tooltip="Open in new window">
                        <a class="text-muted" href ng-click="layoutSrv.showFlow(true)">
                            <i class="fa fa-plus"></i> Show live stream
                        </a>
                    </span>
                </div>
            </div>
            <div class="box-body">
                <div ng-include="'views/partials/case/list/toolbar.html'"></div>

                <div class="mt-xs stats-panel" ng-include="'views/partials/case/list/mini-stats.html'" ng-if="$vm.filtering.context.showStats"></div>

                <div class="mt-xs filter-panel" ng-include="'views/partials/case/list/filters.html'" ng-show="$vm.filtering.context.showFilters"></div>

                <div class="row mt-xs">
                    <div class="col-md-12 clearfix">

                        <filters-preview filters="$vm.filtering.context.filters"
                            on-clear-item="$vm.removeFilter(field)"
                            on-clear-all="$vm.clearFilters()"></filters-preview>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 mv-s" ng-show="$vm.list.total === 0">
                        <div class="empty-message">No records</div>
                    </div>

                    <div class="col-md-12" ng-show="$vm.list.total > 0">
                        <psearch control="$vm.list"></psearch>

                        <table class="table table-striped case-list">
                            <thead>
                                <tr>
                                    <th style="width: 10px;" class="p-0"></th>
                                    <th width="20px">
                                        <input if-permission="manageCase" type="checkbox" ng-model="$vm.menu.selectAll" ng-change="$vm.selectAll()">
                                    </th>
                                    <th>Title</th>
                                    <th style="width: 70px;"></th>
                                    <th style="width: 80px;text-align:center;">Severity</th>
                                    <th style="width: 100px;">Tasks</th>
                                    <th style="width: 100px;">Observables</th>
                                    <th style="width: 60px;">Assignee</th>
                                    <th style="width: 120px;">Date</th>
                                    <th style="width: 40px;" ng-if="appConfig.connectors.cortex.enabled">Actions</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr ng-class="{true:'tr-warning'}[currentCase.flag]" ng-repeat="currentCase in $vm.list.values">
                                    <td class="p-0 bg-tlp-{{currentCase.tlp}} clickable" ng-click="$vm.addFilterValue('tlp', currentCase.tlp)"></td>
                                    <td>
                                        <input if-permission="manageCase" allowed="{{currentCase.extraData.permissions.join(',')}}"
                                            type="checkbox" ng-model="currentCase.selected" ng-change="$vm.select(currentCase)">
                                    </td>
                                    <td>
                                        <div class="case-title wrap">
                                            <span class="mr-xxs text-primary" ng-if="!!!currentCase.extraData.isOwner"><i class="fa fa-share-square"
                                                uib-tooltip="Shared from another organisation" tooltip-placement="right"></i></span>
                                            <span class="mr-xxs text-primary" ng-if="!!currentCase.extraData.isOwner"><i class="fa fa-building-o"
                                                uib-tooltip="Created by my organisation" tooltip-placement="right"></i></span>
                                            <a ui-sref="app.case.details({caseId: currentCase._id})">#{{currentCase.number}} - {{currentCase.title}}</a>
                                        </div>
                                        <div class="case-tags flexwrap mt-xxs">
                                            <span class="mr-xxxs text-muted"><i class="fa fa-tags"></i></span>
                                            <strong class="text-muted mr-xxxs" ng-if="!currentCase.tags || currentCase.tags.length === 0">None</strong>
                                            <span ng-repeat="tag in currentCase.tags track by $index" class="label label-primary mb-xxxs mr-xxxs pointer" ng-click="$vm.addFilterValue('tags', tag)">{{tag}}

                                            </span>
                                        </div>

                                        <custom-field-labels ng-if="$vm.filtering.context.showAdvanced" custom-fields="currentCase.customFields" on-field-click="$vm.addFilterValue(name, value)"></custom-field-labels>
                                        
                                        <div class="text-success" ng-show="currentCase.status !== 'Open'">
                                            <small>
                                                (Closed at {{currentCase.endDate | showDate}} as <strong>{{$vm.CaseResolutionStatus[currentCase.resolutionStatus]}}</strong>)
                                            </small>
                                        </div>
                                        <div class="text-danger" ng-if="currentCase.mergeFrom">
                        					          <small>
                                                Merged from <a href ui-sref="app.case.details({caseId: currentCase.mergeFrom[0]})"> Case #{{currentCase.stats.mergeFrom[0].number}}</a> and
                                                <a href ui-sref="app.case.details({caseId: currentCase.mergeFrom[1]})"> Case #{{currentCase.stats.mergeFrom[1].number}}</a>
                                            </small>
                        				        </div>
                                    </td>
                                    <td align="center">
                                        <a href ng-if="currentCase.extraData.shareCount > 0" ui-sref="app.case.sharing({caseId: currentCase._id})" class="noline"
                                                uib-tooltip="{{ {
                                                    true: 'Current organisation has shared this Case with ' + currentCase.extraData.shareCount + ' organisation(s)',
                                                    false: 'This Case has been shared by its owner with ' + currentCase.extraData.shareCount + ' organisation(s)'
                                                }[currentCase.extraData.isOwner] }}"
                                                tooltip-placement="left-middle">

                                            <i class="fa fa-users"></i>
                                            ({{currentCase.extraData.shareCount || 0}})
                                        </a>
                                    </td>
                                    <td align="center">
                                        <div class="clickable" ng-click="$vm.addFilterValue('severity', currentCase.severity)">
                                            <severity active="false" value="currentCase.severity"></severity>
                                        </div>
                                    </td>
                                    <td>
                                        <a ui-sref="app.case.tasks({caseId: currentCase._id})">
                                            <ng-pluralize count="currentCase.extraData.taskStats.total" when="{'0': 'No Tasks', '1': '1 Task', 'other': '{} Tasks'}"></ng-pluralize>
                                        </a>
                                        <br>
                                        <task-progress ng-show="currentCase.extraData.taskStats.total > 0" tasks="currentCase.extraData.taskStats"/>
                                    </td>
                                    <td>
                                        <a ui-sref="app.case.observables({caseId: currentCase._id})">{{currentCase.extraData.observableStats.total}}</a>
                                    </td>
                                    <td class="nowrap">
                                        <user user-id="currentCase.assignee" icon-only="true" icon-size="m"></user>
                                    </td>
                                    <td>
                                        <div>
                                            <a href ng-click="$vm.addFilterValue('startDate', currentCase.startDate)">
                                                <span uib-tooltip="{{currentCase.startDate | showDate}}" tooltip-popup-delay="500" tooltip-placement="bottom">{{currentCase.startDate | shortDate}}</span>
                                            </a>
                                        </div>
                                        <div>
                                            <case-duration start="currentCase.startDate" end="currentCase.endDate" icon="fa-clock-o"></case-duration>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                            <!-- <a href class="text-primary noline nowrap" ng-click="$vm.getCaseResponders(currentCase, true)" uib-dropdown-toggle> -->
                                        <a href class="btn btn-icon btn-clear" ng-click="$vm.getCaseResponders(currentCase, true)"
                                            ng-if="appConfig.connectors.cortex.enabled" if-permission="manageAction" allowed="{{currentCase.extraData.permissions.join(',')}}">
                                            <i class="text-info fa fa-cog"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <psearch control="$vm.list"></psearch>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="appLayout.showFlow" class="col-md-3">
        <div class=" box">
            <div class="box-header">
                <h3 class="box-title">&nbsp;</h3>
                <div class="box-tools pull-right">
                    <span class="ml-xs" tooltip="Open in new window">
                        <a class="text-muted" href ng-click="layoutSrv.detachFlow()">
                            <i class="fa fa-external-link"></i> Open in new window
                        </a>
                    </span>

                    <span class="ml-xs" tooltip="Hide">
                        <a class="text-muted" href ng-click="layoutSrv.showFlow(false)">
                            <i class="fa fa-minus"></i> Hide
                        </a>
                    </span>
                </div>
            </div>
            <div class="box-body no-padding">
                <flow max="10"></flow>
            </div>
        </div>
    </div>

</div>
