<div class="modal-header bg-primary">
    <h3 class="modal-title">Add custom field to Case #{{caze.number}}</h3>
</div>
<div class="modal-body">
    <div class="vpad20">
        You are about to add the <strong uib-tooltip="{{data.description}}">{{data.name}}</strong> custom field to the case <strong>#{{caze.number}}: {{caze.title}}</strong>
        <br/>
        <br/>
        Are you sure you want to continue ?
    </div>
</div>
<div class="modal-footer text-left">
    <button class="btn btn-default" ng-click="cancel()" type="button">Cancel</button>
    <button class="btn btn-primary pull-right" type="button" ng-click="confirm()">Confirm</button>
</div>
