<div class="flow-alert "ng-switch="base.operation">
    <div class="flow-item-title wrap">
        <i class="fa fa-download"></i>
        <span ng-show="bulk">Alert updates</span>
        <span ng-show="!bulk">{{base.object.title}}</span>
    </div>

    <div class="flow-item-updates wrap" ng-show="bulk">
        <div class="flow-item-bulk" ng-show="summary.alert.Creation">
            <ng-pluralize count="summary.alert.Creation" when="{'one': '{} new alert has been added', 'other': '{} new alerts have been added'}"></ng-pluralize>
        </div>
        <div class="flow-item-bulk" ng-show="summary.alert.Update">
            <ng-pluralize count="summary.alert.Update" when="{'one': '{} existing alert has been updated', 'other': '{} existing alerts have been added'}"></ng-pluralize>
        </div>
        <div>
            <a class="small" href ng-click="openState('app.alert-list')">See all</a>
        </div>
    </div>

    <div class="flow-item-updates wrap" ng-hide="bulk" ng-switch-default>
        <span ng-repeat="(k,v) in base.details" ng-switch="k">
            <div ng-switch-when="artifacts">
                {{k}}:
                <em>{{v.length}}</em>
            </div>
            <div ng-switch-default>
                {{k}}:
                <em>{{v}}</em>
            </div>
        </span>
    </div>
</div>
