<div class="flow-observable-job">
    <div class="flow-item-title wrap">
        <i class="glyphicon glyphicon-cog"></i>
        <span ng-if="!base.object.endDate">
            Job: <em>{{base.object.analyzerName || base.object.analyzerId}}</em> started
        </span>
        <span ng-if="base.object.endDate">
            Job <em>{{base.object.analyzerName || base.object.analyzerId}}</em> terminated
        </span>
    </div>
    <div class="flow-item-updates wrap">
        <div>status: <em>{{base.object.status}}</em></div>
        <div>startDate: <em>{{base.object.startDate | showDate}}</em></div>
        <div ng-if="base.object.endDate">endDate: <em>{{base.object.endDate | showDate}}</em></div>
    </div>
</div>
