<div class="case-metrics">
    <h4 class="vpad10 text-primary">
        Metrics
        <span uib-dropdown class="pull-right" ng-show="metricsAvailable">
            <a href class="dropdown-toggle" uib-dropdown-toggle>
                <i class="fa fa-plus"></i>
                Add metric
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" uib-dropdown-menu>
                <li ng-repeat="(key, value) in allMetrics">
                    <a ng-click="addMetric(value)">{{value.title}}</a>
                </li>
            </ul>
        </span>
    </h4>

    <div ng-if="hasNoMetrics(caze)">
        <em>No metrics need to be set</em>
    </div>

    <dl class="dl-horizontal clear" ng-repeat="(k,v) in caze.metrics">
        <dt class="pull-left" uib-tooltip="{{metricsCache[k].description}}">{{metricsCache[k].title}}</dt>
        <dd>
            <updatable-simple-text input-type="number" on-update="updateField('metrics.' + k, newValue)" value="caze.metrics[k]"></updatable-simple-text>
        </dd>
    </dl>
</div>
