<br/>
<div class="row">
    <!-- Observable details header-->
    <div class="col-md-11 col-md-offset-1" ng-show="artifact.data != undefined">
        <div class="col-md-12">
            <h4>
                <span class="text-muted glyphicon " ng-class="{true:'text-primary glyphicon-star'}[artifact.ioc]" tooltip-placement="bottom" tooltip-popup-delay="500" tooltip="is an IOC"></span>
                [<span ng-bind="artifact.dataType" style="text-transform: uppercase;"></span>]: <em><span class="wrap">{{artifact.data | fang}}</span></em>
            </h4>
        </div>
    </div>
    <div class="col-md-11 col-md-offset-1" ng-show="artifact.attachment != undefined">
        <div class="col-md-8">
            <h4>
                [<span ng-bind="artifact.dataType" style="text-transform: uppercase;"></span>]: <em><span class="wrap" ng-bind="artifact.attachment.name"></span></em>
            </h4>
        </div>
        <div class="col-md-3" style="text-align: center">
            <a href="/api/datastorezip/{{artifact.attachment.id}}?name={{artifact.attachment.name}}" target="_blank">
                <span class="glyphicon glyphicon-download"></span><br/>
                <span class="wrap">{{artifact.attachment.name}}</span>
            </a><br/>
            <small class="text-danger">Zip are protected with password "malware"</small>
        </div>
    </div>
    <!-- Observable analysers short reports -->
    <div class="col-md-11 col-md-offset-1">
        <ul class="list-inline observable-reports-summary">
            <li ng-if="jobs[0]" ng-repeat="(analyzerId, jobs) in analyzerJobs">
                <report artifact="artifact" content="jobs[0].report.full" flavor="short" name="analyzerId" status="jobs[0].status"></report>
            </li>
        </ul>
    </div>
</div>

<div class="clearfix">
    <div class="col-md-6 col-md-offset-3"><hr></div>
</div>

<div ng-include="'views/partials/observables/details/artifact-details-information.html'"></div>

<div ng-include="'views/partials/observables/details/artifact-details-analysers.html'"></div>
