<!-- Observable details header-->
<div class="row" ng-show="artifact.data != undefined">
    <div class="col-md-12">
        <h4>
            <span class="text-muted fa " ng-class="{true:'text-primary fa-star'}[artifact.ioc]" tooltip-placement="bottom" tooltip-popup-delay="500" uib-tooltip="is an IOC"></span>
            [<span ng-bind="artifact.dataType" style="text-transform: uppercase;"></span>]: <em><span class="wrap">{{artifact.data | fang}}</span></em>
        </h4>
    </div>
</div>
<div class="row" ng-show="artifact.attachment != undefined">
    <div class="col-md-8">
        <h4>
            [<span ng-bind="artifact.dataType" style="text-transform: uppercase;"></span>]: <em><span class="wrap" ng-bind="artifact.attachment.name"></span></em>
        </h4>
    </div>
    <div class="col-md-3 text-center">
        <div>
            <a href="./api/datastorezip/{{artifact.attachment.id}}?name={{artifact.attachment.name}}" target="_blank">
                <i class="glyphicon glyphicon-download"></i>
                <span class="wrap">{{artifact.attachment.name | ellipsis:30}}</span>
            </a>
        </div>
        <div>
            <small class="text-danger">Zip are protected with password "{{protectDownloadsWith}}"</small>
        </div>
    </div>
</div>
<div class="row">
    <!-- Observable analysers short reports -->
    <div class="col-md-12 flexwrap">
        <report ng-repeat="(analyzerId, summary) in artifact.reports"
            artifact="artifact"
            content="summary"
            report-type="short"
            name="analyzerId"
            success="true"
            class="short-report"></report>
    </div>
</div>

<div class="clearfix">
    <div class="col-md-6 col-md-offset-3"><hr></div>
</div>

<div ng-include="'views/partials/observables/details/artifact-details-information.html'"></div>

<div class="row" ng-if="actions.values.length">
    <div class="col-md-12">
        <responder-actions header="Responder Jobs" actions="actions"></responder-actions>
    </div>    
</div>

<div ng-include="'views/partials/observables/details/artifact-details-analysers.html'"></div>
