<div class="modal-header bg-danger">
    <h3 class="modal-title">Permanently remove case</h3>
</div>
<div class="modal-body">
    <p>Are you sure you want to permanently delete this case?</p>
    <p>This action cannot be undone.</p>
</div>
<div class="modal-footer text-left">
    <button class="btn btn-default" ng-click="cancel()" ng-disabled="loading" type="button">Cancel</button>
    <button class="btn btn-danger pull-right" ng-click="confirm()" ng-disabled="loading" type="button">
        Yes, remove it.
    </button>
</div>
