<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <h4>
                    <severity style="font-size:16px" value="caze.severity"></severity>
                    <span>Case #
                        {{caze.caseId}}
                        -
                        {{caze.title}}</span>
                    <span class="pull-right">
                        <span class="ml-xs">
                            <a href ng-click="mergeCase()" class="noline" uib-tooltip="Merge case">
                                <i class="text-primary fa fa-2x fa-compress"></i>
                            </a>
                        </span>
                    <span class="ml-xs">
                            <a href ng-click="switchFlag()" class="noline" uib-tooltip="{{caze.flag ? 'Unflag case' :  'Flag case'}}">
                                <i class="text-yellow fa fa-2x fa-flag" ng-show="caze.flag"></i>
                                <i class="text-muted fa fa-2x fa-flag" ng-class="setFlag" ng-mouseout="setFlag='text-muted'" ng-mouseover="setFlag='text-yellow'" ng-show="!caze.flag || caze.flag == undefined"></i>
                            </a>
                        </span>
                    <span class="ml-xs" ng-hide="isCaseClosed()">
                            <a href ng-click="openCloseDialog()" class="noline" uib-tooltip="Close case">
                                <i class="text-muted fa fa-2x fa-check-circle-o" ng-class="CloseCase" ng-mouseout="CloseCase='text-muted glyphicon-ok-circle'" ng-mouseover="CloseCase='text-success glyphicon-ok-sign'"></i>
                            </a>
                        </span>
                    <span class="ml-xs" ng-show="isCaseClosed()">
                            <a href ng-click="reopenCase()" class="noline" uib-tooltip="Reopen case">
                                <i class="text-success fa fa-2x fa-check-circle"></i>
                            </a>
                        </spnn>
                    </span>
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <span class="ml-s">
                    <i class="glyphicon glyphicon-user"></i>
                    Created by <span ng-bind="getUserInfo.get(caze.user) | getField: 'name'"></span>
                </span>
                <span class="ml-xxs">
                    <i class="glyphicon glyphicon-calendar"></i>
                    <span>{{caze.startDate | showDate}}</span>&nbsp;&nbsp;
                <span ng-show="isCaseClosed()" class="text-success">(Closed at
                        {{caze.endDate | showDate}}
                        as
                        <strong>{{CaseResolutionStatus[caze.resolutionStatus]}}</strong>)</span>
                </span>
                <span class="ml-xxs text-danger" ng-show="links.length > 0">
                    <i class="glyphicon glyphicon-link"></i>
                    <strong>
                        <ng-pluralize count="links.length" when="{'one': '1 Related case', 'other': '{} Related cases'}"></ng-pluralize>
                    </strong>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="alert alert-warning text-center" ng-show="caze.mergeInto">
    <h4 class="mb-0">
        This case has been closed as a duplicate and merged into <br>
        <div class="mt-xs text-primary"><a href ui-sref="app.case.details({caseId: caze.mergeInto})">Case #{{caze.stats.mergeInto.caseId}}: {{caze.stats.mergeInto.title}}</a></div>
    </h4>
</div>
