<div class="panel panel-info" ng-if="success">
    <div class="panel-heading">
        <strong>{{artifact.data | fang}}</strong>
    </div>
    <div class="panel-body">		
		<dl class="dl-horizontal">
            <dt>Domains count</dt>
            <dd>{{content.ip_addresses.domain_count}}</dd>
        </dl>
		<dl class="dl-horizontal">
            <dt>Domain Names</dt>
            <dd>
				<ul class="list list-unstyled">
					<li ng-repeat="dn in content.ip_addresses.domain_names">
						{{dn}}
					</li>
				</ul>
            </dd>
        </dl>
    </div>
</div>

<div class="panel panel-danger" ng-if="!success">
    <div class="panel-heading">
        <strong>{{artifact.data | fang}}</strong>
    </div>
    <div class="panel-body">
        {{content.errorMessage}}
    </div>
</div>
