<span ng-if="content.in_database">
	<span ng-if="content.verified_at">
		<span class="label" ng-class="{'false':'label-warning', 'true':'label-danger'}[content.in_database]">
			PhishTank:
				<timer interval="30000" start-time="gtime(content.verified_at)">
					{{millis  | amDurationFormat : 'milliseconds'}}
				</timer>
		</span>
		<span ng-if="content.verified == false" class="label label-warning">
			PhishTank: {{content.in_database}}&nbsp;
		</span>
	</span>
</span>
<!--  Change short report to give the age of url in database if it has been verified as a phishing site -->
