<form class="form-horizontal" name="taskForm" ng-submit="addTask()" novalidate>
    <div class="modal-header bg-primary">
        <h3 class="modal-title">{{action}} task</h3>
    </div>
    <div class="modal-body">
        <div class="form-group" ng-class="{ 'has-error' : taskForm.name.$invalid && !taskForm.name.$pristine }">
            <label class="col-md-3 control-label">Task title
                <i class="fa fa-asterisk text-danger"></i>
            </label>
            <div class="col-md-9">
                <input class="form-control" ng-model="task.title" placeholder="Task title" required type="text">
            </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : taskForm.description.$invalid && !taskForm.description.$pristine }">
            <label class="col-md-3 control-label">Task description</label>
            <div class="col-md-9">
                <markdown-editor content="task.description"></markdown-editor>
                <p class="help-block small">Task's default description</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label">Assignee</label>
            <div class="col-md-9">
                <select class="form-control" ng-model="task.owner"
                    ng-options="item.id as item.name for item in users | orderBy:'id'"></select>                
            </div>
        </div>
    </div>
    <div class="modal-footer text-left">
        <button class="btn btn-default" ng-click="cancel()" type="button">Cancel</button>
        <button class="btn btn-primary pull-right" ng-disabled="taskForm.$invalid" type="submit">{{action}} task</button>
    </div>
</form>
