<h2 class="vpad10">Case metrics management</h2>
<div class="vpad10"></div>
<div class="row">
    <div class="col-md-12">
        <form ng-submit="addMetric()">
            <div class="row">
                <div class="form-group col-md-3">
                    <label>Name</label>
                    <input class="form-control" ng-model="metric.name" placeholder="The name of the metric" required type="text">
                </div>
                <div class="form-group col-md-3">
                    <label>Title</label>
                    <input class="form-control" ng-model="metric.title" placeholder="The label that will be used in the case form" required type="text">

                </div>
                <div class="form-group col-md-5">
                    <label>Description</label>
                    <input class="form-control" ng-model="metric.description" placeholder="A brief description of the metric" required type="text">
                </div>
                <div class="form-group col-md-1">
                    <label>&nbsp;</label><br>
                    <button class="btn btn-primary" type="submit">Add metric</button>
                </div>
            </div>
        </form>
    </div>
</div>
<hr>
<div class="vpad10"></div>
<div class="row">
    <div class="col-md-12" ng-if="metrics.length === 0">
        <div>There are not metrics defined yet</div>
    </div>
    <div class="col-md-12" ng-if="metrics.length !== 0">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="col-md-3">Name</th>
                    <th class="col-md-3">Title</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="metric in metrics">
                    <td>{{metric.name}}</td>
                    <td>{{metric.title}}</td>
                    <td>{{metric.description}}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

<div class="vpad10"></div>
