<div ng-switch="type">
    <donut-chart ng-switch-when="donut"
        options="options"
        autoload="autoload"
        refresh-on="{{refreshOn}}"
        mode="mode"></donut-chart>

    <histo-chart ng-switch-when="over-time"
        options="options"
        autoload="autoload"
        refresh-on="{{refreshOn}}"
        mode="mode"></histo-chart>

    <duration-over-time-chart ng-switch-when="duration-over-time"
        options="options"
        autoload="autoload"
        refresh-on="{{refreshOn}}"
        mode="mode"></duration-over-time-chart>

    <metric-histo-chart ng-switch-when="metrics-over-time"
        options="options"
        autoload="autoload"
        refresh-on="{{refreshOn}}"
        mode="mode"></metric-histo-chart>

    <div ng-switch-default>Unhandled chart type</div>
</div>
