<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h4 class="panel-title pull-left" style="padding-top: 7.5px;">
            <span ng-init="collapsed=false">
                <a class="btn btn-link hpad5" href ng-click="collapsed = !collapsed">
                    <i class="fa" ng-class="{'fa-minus': !collapsed, 'fa-plus': collapsed}"></i>
                </a>{{options.title}}
            </span>
        </h4>
        <form class="form-inline pull-right" ng-submit="load()">
            <div class="form-group hpad10">
                <label>Interval</label>
                <select class="form-control" ng-model="interval" ng-options="item as item.label for item in intervals track by item.code"></select>
            </div>
            <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
        </form>        
    </div>
    <div class="panel-body" ng-hide="collapsed">
        <c3 chart="chart"></c3>
    </div>
</div>
