body,
.c3 svg {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.dashboards-list .dashboard-item {
    padding: 5px;
    /*border-bottom: 1px dashed #ccc;*/
}
.dashboards-list .dashboard-item:nth-child(even) {
    background: #f9f9f9;
}
.dashboards-list .dashboard-item:nth-child(odd) {
    background: #FFF;
}

.dashboards-list .dashboard-item .media-right {
    vertical-align: middle;
}

.dashboard-content {
    margin-top: 20px;
    padding-left: 0;
    /*padding: 10px;*/
    /*min-height: 10px;
    background-color: red;*/
}
.dashboard-content > li {
    list-style: none;
}
.dashboard-content > .dndDraggingSource {
    display: none;
}
.dashboard-content > .dndPlaceholder {
    background-color: #f9f9f9;
    border: 1px dashed #aacbed;
    display: block;
    margin-top: 10px;
    min-height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.dashboard-content > .dndPlaceholder:after {
    color: #999999;
    content: "Drop item here";
}

/*.dashboard-content .c3-chart {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}*/

.dashboard-content .c3-chart svg {
    width: 100%;
}

.dashboard-row {
    display: flex;
    flex-direction: column;
}
.chart-container {
    min-height: 100px;
    /*background-color: #e6edf4;*/
    background-color: #f9f9f9;
    border: 1px dashed #aacbed;
    margin-top: 10px;
    padding: 15px;
}

.chart-container-dropzone {
    min-height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

.chart-container-dropzone > .dndDraggingSource {
    display: none;
}

.chart-container-dropzone > .dndPlaceholder {
    background-color: #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 110px;
    font-size: 20px;
}
.chart-container-dropzone > .dndPlaceholder:after {
    color: #999999;
    content: "Drop item here";
}

.chart-container-dropzone > * {
    flex: 1;
    margin: 0 5px;
}

.dashboard-view .chart-container-dropzone > *:first-child {
    margin-left: 0;
}

.dashboard-view .chart-container-dropzone > *:last-child{
    margin-right: 0px;
}

dashboard-item .box {
    margin-bottom: 0;
}

.dashboard-row {
    margin-bottom: 10px;
}

 .dashboard-serie {
     background-color: #f9f9f9;
     margin-bottom: 15px;
     padding: 10px;

}

.dashboard-serie > .form-inline {
    display: flex;
    justify-content: start;
    align-items: stretch;
}

.dashboard-serie > .form-inline > div {
    margin: 0 4px;
}

.dashboard-serie > .form-inline input {
    width: 100%
}

.dashboard-period > div{
    height: 34px;
    display:flex;
    justify-content:start;
    align-items:stretch;
}

.dashboard-period .label{
    display:flex;
    align-items:center;
    justify-content: center;
}

.dashboard-edit.left-toolbox {
    padding-left: 120px;
}
.dashboard-edit.right-toolbox {
    padding-right: 120px;
}

.dashboard-toolbox {
    background-color: #fff;
    position: absolute;
    width: 110px;
    padding: 10px;
    text-align: center;
}

.dashboard-toolbox.right-toolbox {
    right: 15px;
}
.dashboard-toolbox.left-toolbox {
    left: 15px;
}

.dashboard-toolbox > div {
    margin: auto;
    margin-bottom: 4px;
}
.dashboard-toolbox > div:last-child {
    margin-bottom: 0;
}
.c3-container .c3-error {
    height:300px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.c3-container .c3-error > div {
    flex: 1;
}
