.entity-bar {
    display: flex;
    flex-flow: row;
    align-items: stretch;
    justify-content: space-between;
}

.entity-bar .entity-item {
    /* border: 1px solid #f5f5f5; */
    background-color: #f5f5f5;
    flex: 1;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 16px;
    cursor: pointer;
    color: #777;
}

.entity-bar .entity-item.active {
    /* border: 1px solid #3c8dbc; */
    color: #fff;
    background-color: #3c8dbc;
}

.entity-bar .entity-item:first-child {
  margin-left: 0;
}

.entity-bar .entity-item:last-child {
  margin-right: 0;
}

.entity-bar .entity-item .entity-item-icon {
    font-size: 28px;
}

.hr-line-dashed {
    border-top: 1px dashed #CCC;
    color: #ffffff;
    background-color: #ffffff;
    height: 1px;
    margin: 10px 0;
}

.search-item-content {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
}

.search-item-icon {
    width: 80px;
    font-size: 26px;
    flex: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EEE;
    margin-right: 5px;
}

.search-item-details {
    flex: auto;
}

.search-item-title a,
.search-item-title span.title{
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.log-entry .file-box,
.search-item-details .file-box {
    float: left;
    width: 220px;
}

.log-entry .file-box .file,
.search-item-details .file-box .file {
    border: 1px solid #e7eaec;
    padding: 0;
    background-color: #ffffff;
    position: relative;
    margin-bottom: 20px;
    margin-right: 20px;
}

.log-entry .file-box .icon,
.log-entry .file-box .image,
.search-item-details .file-box .icon,
.search-item-details .file-box .image {
    padding: 15px 10px;
    text-align: center;
    height: 100px;
    overflow: hidden;
}

.log-entry .file-box .icon i,
.search-item-details .file-box .icon i {
    font-size: 70px;
    color: #dadada;
}

.log-entry .file-box .file .file-name,
.search-item-details .file-box .file .file-name {
    padding: 10px;
    background-color: #f8f8f8;
    border-top: 1px solid #e7eaec;
}
