<section class="sidebar">

	<!-- Sidebar Menu -->
	<ul class="sidebar-menu">
		<li class="header">MAIN MENU</li>		
		<li class="active"><a ui-sref="home"><i class="fa fa-link"></i> <span>Home</span></a></li>
		<li><a ui-sref="calendar"><i class="fa fa-link"></i> <span>Calendar</span></a></li>
		<li class="treeview">
			<a href="#"><i class="fa fa-link"></i> <span>Multilevel</span> <i class="fa fa-angle-left pull-right"></i></a>
			<ul class="treeview-menu">
				<li><a href="#">Link in level 2</a></li>
				<li><a href="#">Link in level 2</a></li>
			</ul>
		</li>
	</ul>
	<!-- /.sidebar-menu -->
</section>
