<div class="modal-header bg-primary">
    <h3 class="modal-title">Remove report template</h3>
</div>
<div class="modal-body">
    <p>
        Are you sure you want to delete the {{vm.template.reportType}} report template for analyzer <strong>{{vm.template.analyzerId}}</strong>.
    </p>
    <p>
        This action cannot be undone.
    </p>
</div>
<div class="modal-footer text-left">
    <button class="btn btn-default" ng-click="vm.cancel()" type="button">Cancel</button>
    <button class="btn btn-danger pull-right" ng-click="vm.ok()">Yes, Delete the report template</button>
</div>
