<form class="form-horizontal" name="form" ng-submit="vm.ok()">
    <div class="modal-header bg-primary">
        <h3 class="modal-title">Import analyzer templates</h3>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label class="col-sm-2 control-label">Templates archive</label>
            <div class="col-sm-10">
                <input type="hidden" name="attachment" ng-model="vm.formData.attachment.status" required>
                <div file-chooser="" filemodel="vm.formData.attachment"></div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning pull-left" type="button" ng-click="vm.cancel()">Cancel</button>
        <button class="btn btn-primary pull-right" type="submit" ng-disabled="form.$invalid">Yes, Import template archive</button>
    </div>
</form>
