<br>
<br>
<br>
<div class="row">
	<h5>{{content.primary_domains.length}} primary domains hosted by the nameservers</h5><a href ng-click="isPCollapsed = !isPCollapsed">Show all</a></small></h5> 
	<hr>


	<!-- 	<ul class="list">
			<li
				ng-repeat="dn in content.primary_domains">
				{{dn}}
			</li>
		</ul> -->

	<div class="col-md-8 col-md-offset-2" collapse="!isPCollapsed">
		<pre style="padding: 1px;
							font-size: 85%;
							line-height: 0.2;
							background-color: #F7F7F7;
							border-radius: 3px;">

			<dl style="margin-bottom:2px;" class="dl-horizontal">
			<dd	style="text-align:left" ng-repeat="dn in content.primary_domains">{{dn}}</dd>
			</dl>
		</pre>
		
	</div>
</div>
<br>

<div class="row">
	<h5>{{content.secondary.length}} secondary domains hosted by the nameservers</h5><a href ng-click="isSCollapsed = !isSCollapsed">Show all</a></small></h5> 
	<hr>
	<div class="row col-md-8 col-md-offset-2" collapse="!isSCollapsed">
		<h5>Domain Names</h5>
		<pre style="padding: 1px;
							font-size: 85%;
							line-height: 0.2;
							background-color: #F7F7F7;
							border-radius: 3px;">

			<dl style="margin-bottom:2px;" class="dl-horizontal">
			<dd	style="text-align:left" ng-repeat="dn in content.secondary_domains">{{dn}}</dd>
			</dl>
		</pre>
		
	</div>
</div>
<br><br><br><br>