<div class="col-md-12">
	<dl class="dl-horizontal">
		<dt style="text-align: left">Registrant</dt>
		<dd><p style="pre-wrap"><span ng-bind="dtWhoislookup.response.registrant"></span></p></dd>
	</dl>

	<dl class="dl-horizontal">
		<dt style="text-align: left">Registration</dt>
		<dd><p style="pre-wrap"><span ng-bind="dtWhoislookup.response.registration"></span></p></dd>
	</dl>

	<dl class="dl-horizontal">
		<dt style="text-align: left">Nameservers</dt>
		<dd><p style="pre-wrap"><span ng-bind="dtWhoislookup.response.name_servers"></span></p></dd>
	</dl>

	<dl class="dl-horizontal">
		<dt style="text-align: left">Whois</dt>
		<dd><p style="pre-wrap"><span ng-bind="dtWhoislookup.response.whois"></span></p></dd>
	</dl>	
</div>