

<table class="table">
	<thead>
		<tr>
			<th style="width:90%">
				Task
			</th>
			<th>
				Action
			</th>
		</tr>
	</thead>

	<tbody>
		<tr ng-repeat="value in list.values" >
			<td style="width:90%">
				<div class="col-md-12">
				{{value.title}}
				</div>
				<div class="col-md-12">
				<small><entity-link value="value.case"></entity-link></small>
				</div>
			</td>
			<td>
				<button type="button" class="btn btn-sm btn-primary" ng-click="openWTask(value)">Take</button>
			</td>
		</tr>
	</tbody>

</table>

<psearch control="list"></psearch>
