<table class="table">
	<thead>
		<tr>
			<th>Title</th>
			<th style="width: 250px">Tags</th>
			<th style="width: 150px">Tasks</th>
			<th style="width: 100px">Observables</th>
			<th style="width: 160px">Closed Date</th>
		</tr>
	</thead>

	<tbody>
		<tr ng-repeat="closedCase in list.values">
			<td>
				<tlp value="closedCase.tlp"></tlp>
				<a ui-sref="app.case.details({caseId: closedCase.id})">#{{closedCase.caseId}} - {{closedCase.title}}</a>				
				<div class="text-danger" ng-if="closedCase.mergeInto">
					<small>Merged into <a href ui-sref="app.case.details({caseId: closedCase.mergedInto})"> case #{{closedCase.stats.mergeInto.caseId}}</a></small>					
				</div>
			</td>
			<td>
                <span ng-repeat="tag in closedCase.tags">
                    <span class="label label-primary" style="margin-right:2px;display:inline-block">
                        <i class="glyphicon glyphicon-tag"></i> <span ng-bind="tag"></span>
                    </span>
                </span>
            </td>
			<td>
				<a ui-sref="app.case.tasks({caseId: closedCase.id})">
					<ng-pluralize count="closedCase.stats.tasks.total" when="{'0': 'No Tasks', '1': '1 Task', 'other': '{} Tasks'}"></ng-pluralize>
				</a>
				<br>
                <task-progress tasks="closedCase.stats.tasks"/>
			</td>
			<td>
				<a ui-sref="app.case.observables({caseId: closedCase.id})">{{closedCase.stats.artifacts.count}}</a>
			</td>
			<td>{{closedCase.endDate | showDate}}</td>
		</tr>
	</tbody>

</table>

<psearch control="list"></psearch>
