<form class="form">

    <div class="modal-header bg-primary">
        <h3 class="modal-title">{{::$modal.pattern.parent ? 'Sub-technique' : 'Technique'}}: {{::$modal.pattern.name}}
            <small class="ml-xxxs">(Version: {{::$modal.pattern.version}})</small>
        </h3>
    </div>

    <div class="modal-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>{{::$modal.pattern.parent ? 'Sub-technique' : 'Technique'}} Name</label>
                    <div>{{::$modal.pattern.name}}</div>
                </div>
            </div>
            <div class="col-sm-6" ng-if="::$modal.pattern.parent">
                <div class="form-group">
                    <label>Sub-Technique of</label>
                    <div>{{::$modal.pattern.parent || '-'}}</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Tactics</label>
                    <div ng-repeat="tactic in ::$modal.pattern.tactics" class="mb-xxs">
                        <span class="label label-lg label-default">{{tactic}}</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Data Sources</label>
                    <div ng-repeat="ds in ::$modal.pattern.dataSources" class="mb-xxs">
                        <span class="label label-lg label-default">{{ds}}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>URL</label>
                    <div>
                        <a href="{{::$modal.pattern.url}}" target="_blank">
                            {{::$modal.pattern.url}}<i class="fa fa-external-link ml-xxxs"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Platforms</label>
                    <div ng-repeat="platform in ::$modal.pattern.platforms" class="mb-xxs">
                        <span class="label label-lg label-default">{{platform}}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>Description</label>
            <div>{{::$modal.pattern.description}}</div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="pl-0" width="200">Tag</th>
                            <th>Predicate</th>
                            <th>Value</th>
                            <th width="100">Color</th>
                            <th width="10"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="tag in $modal.taxonomy.tags">
                            <td>
                                <span class="label">
                                    <tag value="tag"></tag>
                                </span>
                            </td>
                            <td>{{::tag.predicate}}</td>
                            <td>{{::tag.value || '-'}}</td>
                            <td>{{::tag.colour}}</td>
                            <td>
                                <span ng-if="::tag.description" uib-tooltip="{{::tag.description}}" tooltip-placement="left">
                                    <i class="fa fa-question-circle"></i>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default pull-left" type="button" ng-click="$modal.cancel()">Cancel</button>
        <button class="btn btn-primary pull-right" type="button" ng-click="$modal.cancel()">Close</button>
    </div>
</form>
