<form name="tagsForm" ng-submit="$modal.addSelectedTags()" novalidate>
    <div class="modal-header bg-primary">
        <h3 class="modal-title">Select tags from library</h3>
    </div>
    <div class="modal-body">
        <div class="form-group" ng-class="{ 'has-error' : tagsForm.taxonomy.$invalid && !tagsForm.taxonomy.$pristine }">
            <label>
                Taxonomy
                <i class="fa fa-asterisk text-danger"></i>
            </label>
            <select class="form-control" name="taxonomy" ng-model="$modal.formData.selectedTaxonomy"
                ng-options="taxonomy as taxonomy.namespace for taxonomy in $modal.taxonomies" required>
                    <option value="" disabled selected>-- Select Taxonomy --</option>
            </select>
            <p class="help-block" ng-show="$modal.formData.selectedTaxonomy">{{$modal.formData.selectedTaxonomy.description}}</p>
            <p class="help-block" ng-show="tagsForm.taxonomy.$invalid && !tagsForm.taxonomy.$pristine">This field is required.</p>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : tagsForm.tags.$invalid && !tagsForm.tags.$pristine }" ng-if="$modal.formData.selectedTaxonomy">
            <label>
                Tags
                <i class="fa fa-asterisk text-danger"></i>
            </label>
            <div>
                <table class="table table-striped">
                    <tbody>
                        <tr ng-repeat="tag in $modal.formData.selectedTaxonomy.tags">
                            <td>
                                <div class="checkbox mv-0">
                                    <label class="center-block">
                                        <input type="checkbox" ng-model="tag.selected">
                                        <span class="label">
                                            <tag value="tag"></tag>
                                        </span>
                                    </label>
                                </div>
                            </td>
                            <td width="10">
                                <span ng-if="::tag.description" uib-tooltip="{{::tag.description}}" tooltip-placement="left">
                                    <i class="fa fa-question-circle"></i>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default pull-left" type="button" ng-click="$modal.cancel()">Cancel</button>
        <button class="btn btn-primary pull-right" type="submit" ng-disabled="tagsForm.$invalid">Add Selected tags</button>
    </div>
</form>
