<div class="updatable-input updatable-input-user">
    <span class="updatable-input-value-wrapper" ng-hide="updatable.updating" ng-click="edit()">
        <span ng-if="!!!value" class="updatable-value text-warning"><em>{{blankText || 'Not Specified'}}</em></span>
        <user-info ng-if="!!value" class="updatable-value" value="value" field="name"></user-info>

        <small class="updatable-input-icon">
            <i class="glyphicon glyphicon-pencil"></i>
        </small>
    </span>
    <span ng-init="updatable.dropdownOpen=false" ng-show="updatable.updating">
        <div class="btn-group" uib-dropdown is-open="updatable.dropdownOpen">
            <button class="btn btn-default btn-sm dropdown-toggle" uib-dropdown-toggle type="button">
                <user-info value="value" field="name"></user-info>
                <span class="caret"></span>
            </button>
            <button class="btn btn-default btn-sm" ng-click='updatable.updating = false' type="button">
                <i class="text-danger glyphicon glyphicon-remove"></i>
            </button>
            <button class="btn btn-sm btn-default" type="button" ng-click="clear()" ng-if="clearable === true">
                <i class="text-danger glyphicon glyphicon-erase"></i>
            </button>
            <ul class="dropdown-menu scroll-dropdown" uib-dropdown-menu>
                <li ng-repeat="user in userList">
                    <a ng-click="update(user.login)">{{user.organisation}}/{{user.name}}</a>
                </li>
            </ul>
        </div>
    </span>
</div>
