<div class="updatable-input updatable-input-select">
	<span class="updatable-input-value-wrapper" ng-hide="updatable.updating" ng-click="edit()">
		<span ng-if="value!==null && value !==''" class="updatable-value">{{value}}</span>
		<span ng-if="value === null || value === undefined || value === ''" class="updatable-value text-warning"><em>Not Specified</em></span>

		<small class="updatable-input-icon">
			<i class="glyphicon glyphicon-pencil"></i>
		</small>
	</span>

	<form ng-submit="update()" ng-show="updatable.updating">
		<div class="input-group input-group-sm">
			<select class="form-control input-sm" ng-model="value" ng-options="v for v in options" ng-change="update()"></select>
			<span class="input-group-btn">
				<button class="btn btn-sm btn-default" type="submit">
					<i class="text-success glyphicon glyphicon-ok"></i>
				</button>
				<button class="btn btn-sm btn-default" type="button" ng-click="cancel()">
					<i class="text-danger glyphicon glyphicon-remove"></i>
				</button>
				<button class="btn btn-sm btn-default" type="button" ng-click="clear()" ng-if="clearable === true">
					<i class="text-danger glyphicon glyphicon-erase"></i>
				</button>
	        </span>
		</div>
	</form>
</div>
