<div class="row">
    <div ng-Class="{ 'col-md-9': appLayout.showFlow, 'col-md-12': !appLayout.showFlow}">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title" ng-if="view.data == 'mycases'">My Cases ({{list.total}})</h3>
                <h3 class="box-title" ng-if="view.data == 'mytasks'">My tasks ({{list.total}})</h3>
                <h3 class="box-title" ng-if="view.data == 'waitingtasks'">Waiting tasks ({{list.total}})</h3>

                <div class="box-tools pull-right" ng-show="!appLayout.showFlow">
                    <span class="ml-xs" tooltip="Open in new window">
                        <a class="text-muted" href ng-click="layoutSrv.showFlow(true)">
                            <i class="fa fa-plus"></i> Show live stream
                        </a>
                    </span>
                </div>
            </div>
            <div class="box-body">

                <div class="clearfix">
                    <div class="form-inline pull-right">
                        <div class="input-group">
                            <filter-box collection="list"></filter-box>
                        </div>
                        <div class="form-group">
                            <page-sizer collection="list"></page-sizer>
                        </div>
                    </div>
                </div>

                <div ng-switch="view.data">
                    <div class="main-fadein" ng-switch-when="waitingtasks">
                        <div ng-include="'views/partials/index-waitingtasks.html'"></div>
                    </div>

                    <div class="main-fadein" ng-switch-when="mycases">
                        <div ng-include="'views/partials/index-mycases.html'"></div>
                    </div>

                    <div class="main-fadein" ng-switch-default>
                        <div ng-include="'views/partials/index-mytasks.html'"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div ng-show="appLayout.showFlow" class="col-md-3">
        <div class=" box">
            <div class="box-header">
                <h3 class="box-title">&nbsp;</h3>
                <div class="box-tools pull-right">
                    <span class="ml-xs" tooltip="Open in new window">
                        <a class="text-muted" href ng-click="layoutSrv.detachFlow()">
                            <i class="fa fa-external-link"></i> Open in new window
                        </a>
                    </span>

                    <span class="ml-xs" tooltip="Hide">
                        <a class="text-muted" href ng-click="layoutSrv.showFlow(false)">
                            <i class="fa fa-minus"></i> Hide
                        </a>
                    </span>
                </div>
            </div>
            <div class="box-body no-padding">
                <flow max="10"></flow>
            </div>
        </div>
    </div>

</div>
