<span ng-if="content.has_result" class="label" ng-class="{'label-info': content.positives===0, 'label-warning': content.positives>0 && content.positives<5, 'label-danger': content.positives >= 5}">
	VT:
	<span ng-if="content.positives > 0">{{content.positives}}/{{content.total}}</span>
	<span ng-if="content.scans && content.scans > 0">Scans({{content.scans}})</span>
	<span ng-if="content.resolutions && content.resolutions > 0">Resolutions({{content.resolutions}})</span>
	<span ng-if="content.detected_urls && content.detected_urls > 0">Url detections({{content.detected_urls}})</span>
	<span ng-if="content.detected_downloaded_samples && content.detected_downloaded_samples > 0">files({{content.detected_downloaded_samples}})</span>
</span>
