<div class="col-md-10 col-md-offset-1 bg-info text-center">
	<br>
	<strong>TLP:</strong>
	<span class="label btn" ng-class="{ true:'label-info', false:'label-default' }[chTLP == 0]" ng-click="updateTLP(0)">WHITE</span>
	<span class="label btn" ng-class="{ true:'label-success', false:'label-default' }[chTLP == 1]" ng-click="updateTLP(1)">GREEN</span>
	<span class="label btn" ng-class="{ true:'label-warning', false:'label-default' }[chTLP == 2]" ng-click="updateTLP(2)">AMBER</span>
	<span class="label btn" ng-class="{ true:'label-danger', false:'label-default' }[chTLP == 3]" ng-click="updateTLP(3)">RED</span>
	<span class="label btn" ng-class="{ true:'label-primary', false:'label-default' }[chTLP != 0 && chTLP != 1 && chTLP != 2 && chTLP != 3]" ng-click="updateTLP(-1)">?</span>
	<br>
	<br>
</div>
