<div class="col-md-10 col-md-offset-1 bg-info text-center pv-s">
    <div class="mb-xxs">You have selected {{selection.artifacts.length}} observable(s)</div>

    <span class="btn btn-sm btn-primary mr-xxs" ng-click="setIOC(true)">
        <i class="fa fa-star"></i> Add IOC flag
    </span>
    <span class="btn btn-sm btn-primary mr-xxs" ng-click="setIOC(false)">
        <i class="fa fa-star-o"></i> Remove IOC flag
    </span>
    <span class="btn btn-sm btn-default" ng-click="selection.Action='main';">
        Cancel
    </span>
</div>
