
<div class="col-md-12 mb-s clearfix">
    <div class="pull-left">
        <h4>List of observables ({{artifacts.total || 0}} of {{artifactStats.count}})</h4>
    </div>
    <div class="active-filters">
        <ul class="" ng-if="uiSrv.countFilters() > 0">
            <li>{{uiSrv.countFilters()}}
                filter(s) applied:
            </li>
            <li class="filter-item" ng-repeat="(field,filter) in uiSrv.filters">
                <span>
                    <strong>{{field}}:</strong>
                    {{filter.value | filterValue}}</span>
                <a href="" ng-click="removeFilter(field)">
                    <span class="filter-close fa fa-times text-danger"></span>
                </a>
            </li>
            <li>
                <a href="" ng-click="clearFilters()">Clear filters</a>
            </li>
        </ul>
    </div>
</div>

<!-- list of artifacts-->
<div class="col-md-12">
    <table style="font-size:0.9em" class="table">
        <thead>
            <tr>
                <th style="width: 1%;">
                    <input type="checkbox" ng-change="selectAll()" ng-model="selection.all" ng-disabled="switchTEList"></input>
                </th>
                <th style="width: 1%"></th>
                <th style="width: 1%"></th>
                <th style="width: 1%"></th>
                <th style="width: 10%">Date added <a href ng-click="artifacts.sort='-startDate'; artifacts.update()"><i class="fa fa-caret-up"></i></a><a href ng-click="artifacts.sort='+startDate'; artifacts.update()"><i class="fa fa-caret-down"></i></a></th>
                <th style="width: 7%">Type <a href ng-click="artifacts.sort='-dataType'; artifacts.update()"><i class="fa fa-caret-up"></i></a><a href ng-click="artifacts.sort='+dataType'; artifacts.update()"><i class="fa fa-caret-down"></i></a></th>
                <th style="width: 45%">Data/Filename <a href ng-click="artifacts.sort='-data'; artifacts.update()"><i class="fa fa-caret-up"></i></a><a href ng-click="artifacts.sort='+data'; artifacts.update()"><i class="fa fa-caret-down"></i></a></th>
                <!-- <th style="width:25%">Reports</th> -->
                <th style="width: 20%">Tags</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-mouseenter="showDropArtifact = true" ng-mouseleave="showDropArtifact = false" ng-repeat="artifact in artifacts.values">
                <td>
                    <input type="checkbox" ng-change="selectArtifact(artifact)" ng-model="selection.list[artifact.id]">
                </td>
                <td>
                    <span class="clickable" ng-click="addFilterValue('tlp', artifact.tlp)"><tlp format="small" value="artifact.tlp"></tlp></span>
                </td>
                <td>
                    <span ng-click="addFilterValue('ioc', artifact.ioc)" ng-if="artifact.ioc" class="clickable fa fa-star" tooltip="is an IOC" tooltip-popup-delay="500" tooltip-placement="bottom"></span>
                </td>
                <td>
					<span tooltip="{{artifact.stats.seen}} related artifact(s)" tooltip-popup-delay="500" tooltip-placement="bottom" ng-if="artifact.stats.seen > 0" class="glyphicon glyphicon-eye-open"></span>
                </td>
                <td>
                    <a href="" ng-click="addFilterValue('startDate', artifact.startDate)"><span tooltip="{{artifact.startDate | showDate}}" tooltip-popup-delay="500" tooltip-placement="bottom">{{artifact.startDate | shortDate}}</span></a>
                </td>
                <td>
                    <a href="" ng-click="addFilterValue('dataType', artifact.dataType)"><span ng-bind="artifact.dataType"></span></a>
                </td>
                <td class="wrap" style="cursor: pointer;" ng-click="openArtifact(artifact)">{{(artifact.data | fang) || (artifact.attachment.name | fang)}}</td>
                <!-- <td></td> -->
                <td>
                	<span ng-repeat="l in artifact.tags">
                		<span class="label label-primary mr-xxs pointer" ng-click="addFilterValue('tags', l)">
                			<i class="glyphicon glyphicon-tag"></i> <span ng-bind="l"></span>
                    	</span>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
    <psearch ng-if="!switchTEList" control="artifacts"></psearch>
</div>
