<div class="col-md-10 col-md-offset-1 bg-info text-center pv-s">
    <div class="mb-xxs">You have selected {{selection.artifacts.length}} observable(s)</div>

    <span class="btn btn-sm btn-primary mr-xxs" ng-click="setSightedFlag(true)">
        <i class="fa fa-thumbs-up"></i> Add sighted flag
    </span>
    <span class="btn btn-sm btn-primary mr-xxs" ng-click="setSightedFlag(false)">
        <i class="fa fa-thumbs-o-up"></i> Remove sighted flag
    </span>
    <span class="btn btn-sm btn-default" ng-click="selection.Action='main';">
        Cancel
    </span>
</div>
