<div class="modal-header bg-primary">
    <h3 class="modal-title">Report of #{{$vm.report.job.analyzerId}} analysis</h3>
</div>
<div class="modal-body observable-report">
    <report artifact="$vm.observable"
        content="$vm.report.content.full || $vm.report.content"
        report-type="long"
        name="$vm.report.template"
        status="$vm.report.status"
        success="$vm.report.content.success"
        ></report>
</div>
<div class="modal-footer text-left">
    <button class="btn btn-primary pull-right" type="button" ng-click="$vm.close()">Close</button>
</div>
