<div class="row" ng-controller="ObservablesStatsCtrl as statsCtrl">
    <div class="col-md-12">
        <h4>Statistics</h4>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Observables by type</div>
            <div class="panel-body">
                <table class="table table-condensed">
                    <tr ng-repeat="item in statsCtrl.byType.details">
                        <td class="active">{{item.key}}</td>
                        <td>
                            <a href ng-click="addFilterValue('dataType', item.key)">{{item.count}}</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Observables as IOC</div>
            <div class="panel-body">
                <table class="table table-condensed">
                    <tr ng-repeat="item in statsCtrl.byIoc.details">
                        <td class="active">{{(item.key === '0') ? 'Not IOC' : 'IOC' }}</td>
                        <td>
                            <a href ng-click="addFilterValue('ioc', item.key === '0' ? false : true)">{{item.count}}</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Top 10 tags</div>
            <div class="panel-body">
                <table class="table table-condensed">
                    <tr ng-repeat="item in statsCtrl.byTags.details">
                        <td class="active">{{item.key}}</td>
                        <td>
                            <a href ng-click="addFilterValue('tags', item.key)">{{item.count}}</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- <div class="col-md-4">
    <chart type="donut" options="observableByType" refresh-on="refresh-charts" autoload="false"></chart>
</div>
<div class="col-md-4 p-xxs">
    <chart type="donut" options="observableByIoc" refresh-on="refresh-charts" autoload="false"></chart>
</div>
<div class="col-md-4 p-xxs">
    <chart type="donut" options="observableByTags" refresh-on="refresh-charts" autoload="false"></chart>
</div> -->
