
<div style="height:300px;display:flex;justify-content:center; align-items:stretch;flex-direction:column;">
    <div ng-if="error" style="height:300px;display:flex;justify-content:center;align-items:center;">
        <div class="text-center" style="flex: 1;">
            <h4 class="text-danger">
                <div class="mb-xxs"><i class="fa fa-2x fa-exclamation-triangle"></i></div>
                <div>Failed to fetch data, please check the widget properties</div>
            </h4>
        </div>
    </div>
    <div ng-if="!error" class="row" ng-repeat="item in data">
        <div class="col-md-4 text-right">
            <h2>{{item.value}}</h2>
        </div>
        <div class="col-md-8">
            <h2><small>{{item.label}}</small></h2>
        </div>
    </div>
</div>
