<div class="row">
    <div class="col-md-12">
        <form name="settingsForm" class="mt-xs form-horizontal" ng-submit="$ctrl.save(settingsForm)" novalidate>
            <div class="form-group">
                <label class="col-md-3 control-label">Hide <em>Empty Case</em> button</label>
                <div class="col-md-9">
                    <div class="checkbox">
                        <label>
                          <input name="hideEmptyCaseButton" type="checkbox" ng-model="$ctrl.configs['hideEmptyCaseButton']"> Check this to disallow creating empty cases
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">Merge alerts into closed cases</label>
                <div class="col-md-9">
                    <div class="checkbox">
                        <label>
                          <input name="disallowMergeAlertInResolvedSimilarCases" type="checkbox"
                              ng-model="$ctrl.configs['disallowMergeAlertInResolvedSimilarCases']"> Check this to disallow merging alerts into closed cases
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">Select the default filter of alert case similarity panel</label>
                <div class="col-md-3">
                    <select class="form-control" name="defaultAlertSimilarCaseFilter"
                        ng-options="k as o.label for (k, o) in $ctrl.alertSimilarityFilters"
                        ng-model="$ctrl.configs['defaultAlertSimilarCaseFilter']">
                    </select>
                </div>
            </div>

            <div class="mt-s">
                <button class="btn btn-primary pull-right" ng-disabled="settingsForm.$invalid" type="submit">Save</button>
            </div>
        </form>
    </div>
</div>
