<div class="report-FILEInfo" ng-if="success">
    <style>
        .report-FILEInfo dl {
            margin-bottom: 2px;
        }

    </style>

  <div class="panel panel-info">
      <div class="panel-heading">
          <strong>PassiveTotal Whois Summary</strong>
      </div>
      <div class="panel-body">
          <div ng-if="content[artifact.data].length === 0">
              No records found
          </div>
          <div>
              <dl class="dl-horizontal">
                <dt>Domain: </dt>
                <dd class="wrap">{{content.domain|| "-"}}</dd>
              </dl>
              <dl class="dl-horizontal">
                <dt>Contact email: </dt>
                <dd class="wrap">{{content.contactEmail || "-"}}</dd>
              </dl>
              <dl class="dl-horizontal">
                <dt>Nameservers: </dt>
                <dd class="wrap" ng-repeat="ns in content.nameServers">{{ns}}</dd>
              </dl>
              <dl class="dl-horizontal">
                <dt>Whois server: </dt>
                <dd class="wrap">{{content.whoisServer || "-"}}</dd>
              </dl>
              <dl class="dl-horizontal">
                <dt>Registered date: </dt>
                <dd class="wrap">{{content.registered}}</dd>
              </dl>
              <dl class="dl-horizontal">
                <dt>Registry updated at: </dt>
                <dd class="wrap">{{content.registryUpdatedAt}}</dd>
              </dl>
              <dl class="dl-horizontal">
                <dt>Last load at: </dt>
                <dd class="wrap">{{content.lastLoadedAt}}</dd>
              </dl>
              <dl class="dl-horizontal">
                <dt>Expires at: </dt>
                <dd class="wrap">{{content.expiresAt}}</dd>
              </dl>
              <dl class="dl-horizontal">
                <dt>Registrar: </dt>
                <dd class="wrap">{{content.registrar}}</dd>
              </dl>
            </div>
        </div>
  </div>

  <div class="panel panel-info" ng-if="success">
      <div class="panel-heading">
          <strong>PassiveTotal Whois Admin Info</strong>
      </div>
      <div class="panel-body">
          <div ng-if="content[artifact.data].length === 0">
              No records found
          </div>
          <div>
            <dl class="dl-horizontal" ng-repeat="(key, value) in content.admin">
              <dt>{{key}}</dt>
              <dd>{{value}}</dd>
            </dl>
          </div>
      </div>
  </div>

  <div class="panel panel-info" ng-if="success">
      <div class="panel-heading">
          <strong>PassiveTotal Whois Tech Info</strong>
      </div>
      <div class="panel-body">
          <div ng-if="content[artifact.data].length === 0">
              No records found
          </div>
          <div>
            <dl class="dl-horizontal" ng-repeat="(key, value) in content.tech">
              <dt>{{key}}</dt>
              <dd>{{value}}</dd>
            </dl>
          </div>
      </div>
  </div>

  <div class="panel panel-info" ng-if="success">
      <div class="panel-heading">
          <strong>PassiveTotal Whois Registrant Info</strong>
      </div>
      <div class="panel-body">
          <div ng-if="content[artifact.data].length === 0">
              No records found
          </div>
          <div>
            <dl class="dl-horizontal" ng-repeat="(key, value) in content.registrant">
              <dt>{{key}}</dt>
              <dd>{{value}}</dd>
            </dl>
          </div>
      </div>
  </div>
</div>

<!-- General error -->
<div class="panel panel-danger" ng-if="!success">
    <div class="panel-heading">
        <strong>{{(artifact.data || artifact.attachment.name) | fang}}</strong>
    </div>
    <div class="panel-body">
        {{content.errorMessage}}
    </div>
</div>
