<div class="modal-header bg-primary">
    <h3 class="modal-title">Delete log</h3>
</div>
<div class="modal-body">
    <p>
        You are about to delete a task log. If you do so, its contents will be permanently lost.
    </p>
    <p>
        Do you want to proceed?
    </p>
</div>
<div class="modal-footer text-left">
    <button class="btn btn-default" ng-click="cancel()" type="button">Cancel</button>
    <button class="btn btn-danger pull-right" ng-click="confirmDropLog()">Confirm</button>
</div>
