<div class="">
    <div class="empty-message" ng-if="observables.length === 0">
        No observables found
    </div>
    <div ng-if="observables.length > 0">
        <div class="mb-xs" ng-if="groups">
            <span class="label label-lg label-default mr-xxs clickable"
                ng-click="filterArtifacts('');"
                ng-class="{'label-primary': pagination.filter===''}">All ({{observables.length || 0}})</span>

            <span class="label label-lg label-default mr-xxs clickable"
                ng-repeat="(type, list) in groups"
                ng-click="filterArtifacts(type)"
                ng-class="{'label-primary': pagination.filter===type}">{{type}} ({{list.length}})</span>
        </div>
        <div class="mv-xxs">
            <strong class="text-muted">{{selected}} items selected</strong>
            <a class="ml-xs" href ng-click="selectAll()"><i class="fa fa-check"></i> Select all</a>
            <a class="ml-xs" href ng-click="clearSelection()"><i class="fa fa-times"></i> Clear Selection</a>
            <span class="mh-xs">|</span>
            <a href ng-click="import()"><i class="fa fa-plus"></i> Import Selection</a>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width:20px;"></th>
                    <th style="width:20px;"></th>
                    <th style="width:150px;">Type</th>
                    <th>Data</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="observable in pagination.data | orderBy:'imported':false |
                        offset: (pagination.currentPage-1)*pagination.pageSize |
                        limitTo: pagination.pageSize ">
                    <td><input type="checkbox" ng-model="observable.selected" ng-click="selectObservable(observable)" ng-disabled="observable.imported"></td>
                    <td>
                        <span uib-tooltip="Observable already imported" tooltip-popup-delay="500" tooltip-placement="bottom" ng-if="observable.imported" class="glyphicon glyphicon-eye-open"></span>
                    </td>
                    <td>{{observable.dataType}}</td>
                    <td class="wrap">
                        {{observable.data | fang | ellipsis:250}}
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- <pre>{{selected | json}}</pre> -->

        <div class="text-center" ng-show="pagination.data.length > pagination.pageSize">
            <ul uib-pagination class="pagination-sm" boundary-links="true"  max-size="5" rotate="false"
                total-items="pagination.data.length"
                items-per-page="pagination.pageSize"
                ng-change="loadPage()"
                ng-model="pagination.currentPage"></ul>
        </div>
    </div>
</div>
