<div class="progress task-progress progress-bar-sm">
    <div class="progress-bar progress-bar-danger" style="{{waiting}}" tooltip="{{tasks.Waiting}} Waiting"></div>
    <div class="progress-bar progress-bar-success" style="{{completed}}" tooltip="{{tasks.Completed}} Completed"></div>
    <div class="progress-bar progress-bar-warning" style="{{progress}}" tooltip="{{tasks.InProgress}} In Progress"></div>
    <div class="progress-bar progress-bar-default" style="{{cancel}}" tooltip="{{tasks.Cancel}} Canceled"></div>
</div>
