<span ng-hide="updatable.updating" ng-init="active = false" ng-mouseenter="active = true" ng-mouseleave="active = false">
    <span ng-if="value!==null && value !==''" style="vertical-align:top" class="updatable-value" >{{value | showDate}}</span>
    <span ng-if="value===null || value ===''" style="vertical-align: top; white-space: pre-wrap" class="updatable-value text-warning"><em>Not Specified</em></span>
    <span ng-if="value!==null && value !=='' && value.length > 1" style="vertical-align: top; white-space: pre-wrap" class="updatable-value text-warning"><em>Multiple dates after merging. Not supported yet.</em></span>
    <small ng-show="active">
        <a style="cursor: pointer;" target="_self" tooltip-popup-delay='500' uib-tooltip="edit">
            <i class="glyphicon glyphicon-pencil" ng-click="edit()"></i>
        </a>
    </small>
    <small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</small>
</span>
<span ng-init="updatable.dropdownOpen=false" ng-show="updatable.updating">

    <form ng-submit="update()">
		<div class="input-group input-group-sm">
			<input class="input-datetime form-control input-sm" ng-click="dateNow=false" ng-model="humanDate" type="datetime"/>
			<span class="input-group-btn">
                <span uib-btn-checkbox="" class="btn btn-sm btn-primary" ng-model="dateNow">
					Now
				</span>
				<button class="btn btn-sm btn-default" type="submit">
					<i class="text-success glyphicon glyphicon-ok"></i>
				</button>
                <button class="btn btn-sm btn-default" type="button" ng-click="cancel()">
					<i class="text-danger glyphicon glyphicon-remove"></i>
				</button>
            </span>
		</div>
	</form>
</span>
