<span ng-hide="updatable.updating" ng-init="active = false" ng-mouseenter="active = true" ng-mouseleave="active = false">
	<span ng-if="value!==null && value !=='' && value.length > 0" style="vertical-align: top; white-space: pre-wrap" class="updatable-value">{{value.join("\n")}}</span>
	<span ng-if="value===null || value ==='' || value.length === 0 || (value.length === 1 && value[0] === null)" style="vertical-align: top; white-space: pre-wrap" class="updatable-value text-warning"><em>Not Specified</em></span>
	<small ng-show="active">
		<a tooltip-popup-delay='500' uib-tooltip="edit" target="_self" style="cursor: pointer;">
			<i class="glyphicon glyphicon-pencil" ng-click="edit()"></i>
		</a>
	</small>
	<small ng-hide="active">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</small>
</span>
<span ng-show="updatable.updating" ng-init="updatable.dropdownOpen=false">
	<form ng-submit="update()">
		<div class="input-group input-group-sm">
            <textarea ng-model="value" rows="5" placeholder="Possible values, one per line" type="text" multi-row-area-formatter-string></textarea>
			<span class="input-group-btn">
				<button class="btn btn-sm btn-default" type="submit">
					<i class="text-success glyphicon glyphicon-ok"></i>
				</button>
				<button class="btn btn-sm btn-default" type="button" ng-click="cancel()">
					<i class="text-danger glyphicon glyphicon-remove"></i>
				</button>
            </span>
		</div>
	</form>
</span>