<span ng-hide="updatable.updating" ng-init="active = false" ng-mouseenter="active = true" ng-mouseleave="active = false">
    <span class="updatable-value" ng-show="!value || value.length === 0" style="vertical-align:top; white-space: pre-wrap"><span class="text-warning"><em>Not Specified</em></span></span>
    <span ng-repeat="tag in value">
        <span class="label label-primary mr-xxxs"><span ng-bind="tag.text"></span>
        </span>
    </span>

    <small ng-show="active">
        <a style="cursor: pointer;" target="_self" tooltip-popup-delay='500' tooltip="edit">
            <i class="glyphicon glyphicon-pencil" ng-click="edit()"></i>
        </a>
    </small>
</span>

<span ng-show="updatable.updating">
    <div class="form-group">
        <tags-input class="ti-input-sm" min-length="2" ng-model="value" placeholder="Add labels" replace-spaces-with-dashes="false"></tags-input>
    </div>
    <div class="form-group">
        <span class="btn" ng-click='update()' tooltip-placement="top" tooltip-popup-delay='500' tooltip="save">
            <i class="text-success glyphicon glyphicon-ok"></i>
        </span>
        <span class="btn" ng-click='cancel()' tooltip-placement="top" tooltip-popup-delay='500' tooltip="cancel">
            <i class="text-danger glyphicon glyphicon-remove"></i>
        </span>
    </div>
</span>
